<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ExamineMapper">

    <resultMap type="com.jeethink.system.domain.ZyjrDaiqian" id="ZyjrAllowBasicsResult2">
        <result property="id"    column="id"    />
        <result property="state"    column="state"    />
        <result property="opinion"    column="opinion"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="userName"    column="user_name"    />
        <result property="carType"    column="car_type"    />
        <result property="team"    column="team"    />
        <result property="loanAmount"    column="loan_amount"    />
        <result property="repaymentTerm"    column="repayment_term"    />
        <result property="actualPrice"    column="actual_price"    />
        <result property="carInformation"    column="car_information"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
    <select id="selectAllList" parameterType="com.jeethink.system.domain.ZyjrDaiqian" resultMap="ZyjrAllowBasicsResult2">
        select e.id,e.gps,e.insurance,e.account,e.tijiao, e.state, e.opinion,e.user_id,e.operator, a.transaction_code,
        b.user_name,c.car_type,c.team,f.loan_amount,f.repayment_term,f.actual_price,c.car_information,g.create_time
        from zyjr_grant_opinion a
        left join zyjr_borrower b on a.transaction_code=b.transaction_code
        left join zyjr_business c on a.transaction_code=c.transaction_code
        left join zyjr_allow_basics d on a.transaction_code=d.transaction_code
        left join zyjr_daiqian e on a.transaction_code=e.transaction_code
        left join zyjr_car_loan f on a.transaction_code=f.transaction_code
        left join zyjr_start_page g on a.transaction_code=g.transaction_code
        <where>
         a.approval_type=1 and (e.state!="1" or e.state is null)
            <if test="createTime != null  and createTime != ''"> and b.user_name like concat('%', #{createTime}, '%') </if>
            <if test="state != null  and state != ''"> and e.state=#{state}  </if>
        </where>
         order by g.create_time desc
    </select>
    <select id="selectP"
            resultType="com.jeethink.system.domain.vo.provinces">
        select *
        from dcc_provinces
    </select>
    <select id="selectRegion"
            resultType="com.jeethink.system.domain.vo.Region">
        select *
        from t_sys_region
        where region_name=#{regionName} and level=#{level}
    </select>
    <select id="selectC"
            resultType="com.jeethink.system.domain.vo.cities">
        select *
        from dcc_cities
        where provinceid=#{pid}
    </select>
    <insert id="insertBorrower" parameterType="com.jeethink.system.domain.ZyjrBorrower">
        insert into zyjr_borrower
        (id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code,nation)
        values
        (#{id},#{userName},#{idCard},#{bankCardNo},#{phoneNumber},#{issueAuthority},#{startDate},#{endDate},#{familyAddress},#{obverseId},#{obverseCode},
        #{obverseAddress},#{obverseName},#{backId},#{backCode},#{backAddress},#{backName},#{powerId},#{powerCode},#{powerAddress},#{powerName},#{creditPower},#{userId},#{orderState},#{transactionCode},#{nation})
    </insert>
    <insert id="insertRelation" parameterType="com.jeethink.system.domain.ZyjrRelation">
        insert into zyjr_relation
        (id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code)
        values
        (#{id},#{userName},#{idCard},#{bankCardNo},#{phoneNumber},#{issueAuthority},#{startDate},#{endDate},#{familyAddress},#{company},#{companyAddress},#{yearIncome},#{obverseId},
        #{obverseCode},#{obverseAddress},#{obverseName},#{backId},#{backCode},#{backAddress},#{backName},#{powerId},#{powerCode},#{powerAddress},#{powerName},#{creditPower},#{peopleShip},#{userId},#{businessRole},#{orderState},#{transactionCode})
    </insert>
    <insert id="insertGuarantee" parameterType="com.jeethink.system.domain.ZyjrGuarantee">
        insert into zyjr_guarantee
        (id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code)
        values
        (#{id},#{userName},#{idCard},#{bankCardNo},#{phoneNumber},#{issueAuthority},#{startDate},#{endDate},#{familyAddress},#{company},#{companyAddress},#{yearIncome},#{obverseId},
        #{obverseCode},#{obverseAddress},#{obverseName},#{backId},#{backCode},#{backAddress},#{backName},#{powerId},#{powerCode},#{powerAddress},#{powerName},#{creditPower},#{peopleShip},#{userId},#{orderState},#{transactionCode})
    </insert>

    <insert id="insertDaiqian" parameterType="com.jeethink.system.domain.ZyjrDaiqian">
        insert into zyjr_daiqian
        (state,opinion,transaction_code)
        values
        (#{state},#{opinion},#{transactionCode})
    </insert>
    <insert id="insertDaiqian2" parameterType="com.jeethink.system.domain.ZyjrDaiqian">
        insert into zyjr_daiqian
        (gps,insurance,account,transaction_code)
        values
        (#{gps},#{insurance},#{account},#{transactionCode})
    </insert>
    <insert id="insertDaiqians" parameterType="com.jeethink.system.domain.ZyjrDaiqian">
        insert into zyjr_daiqian
        (transaction_code)
        values
        (#{transactionCode})
    </insert>
    <insert id="insertBusiness" parameterType="com.jeethink.system.domain.ZyjrBusiness">
        insert into zyjr_business
        (id,team,car_information,intention_price,loan_money,repay_period,car_type,user_id,order_state,transaction_code,create_time)
        values
        (#{id},#{team},#{carInformation},#{intentionPrice},#{loanMoney},#{repayPeriod},#{carType},#{userId},#{orderState},#{transactionCode},#{createTime})
    </insert>
    <select id="findByBorrower" resultType="com.jeethink.system.domain.ZyjrBorrower">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code,nation
        from zyjr_borrower
        where order_state=0 and user_id = #{userId}
    </select>
    <select id="findByRelation" resultType="com.jeethink.system.domain.ZyjrRelation">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code
        from zyjr_relation
        where order_state=0 and user_id = #{userId}
    </select>
    <select id="selectZyjrCarByLinkman" resultType="com.jeethink.system.domain.vo.Linkman" >
        select id,remark,user_name,gender,phone_number,is_linkman,identity, two_car_state
        from zyjr_car
       where two_car_state="1" and id=#{id}
    </select>
    <select id="findByGuarantee" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code
        from zyjr_guarantee
        where order_state=0 and user_id = #{userId}
    </select>
    <select id="findByBusiness" resultType="com.jeethink.system.domain.ZyjrBusiness">
        select id,team,car_information,intention_price,loan_money,repay_period,car_type,user_id,order_state,transaction_code
        from zyjr_business
        where order_state=0 and user_id = #{userId}
    </select>

    <select id="selectZyjrCarLists" resultType="com.jeethink.system.domain.vo.carVo" >
        select dealer_name, area, city, bazaar, shop_type, id, state,three_car_state,two_car_state,one_car_state,create_by, create_time
        from zyjr_car
       where two_car_state="1" and create_by=#{userId}
    </select>
    <select id="selectZyjrCarListss" resultType="com.jeethink.system.domain.vo.carVo" >
        select dealer_name, area, city, bazaar, shop_type, id, state,three_car_state,two_car_state,one_car_state,create_by, create_time
        from zyjr_car
       where two_car_state="1" and create_by=#{userId} and pid=#{pid}
    </select>
    <select id="selByDaiqian" resultType="com.jeethink.system.domain.ZyjrDaiqian" >
        select *
        from zyjr_daiqian
       where transaction_code=#{transactionCode}
    </select>
    <select id="selectDQ" resultType="com.jeethink.system.domain.vo.DqVo" >

select a.state statea,b.state stateb,c.state statec,a.id insurance,b.id gps,c.id daiqian
FROM zyjr_insurance a
LEFT JOIN zyjr_gps b on a.transaction_code=b.transaction_code
LEFT JOIN zyjr_daiqian_accout c on a.transaction_code=c.transaction_code where a.transaction_code=#{transactionCode}
    </select>
    <select id="selectHuankuanList" resultType="com.jeethink.system.domain.vo.Huankuan">
       select a.transaction_code,a.id,g.create_time, e.operator,e.user_id,c.user_name,d.car_type,d.team,f.loan_amount,f.repayment_term,f.actual_price,d.car_information
        from zyjr_fangkuan a
         left join zyjr_cailiao e on a.transaction_code=e.transaction_code
        left join zyjr_borrower c on a.transaction_code=c.transaction_code
        left join zyjr_business d on a.transaction_code=d.transaction_code
        left join zyjr_car_loan f on a.transaction_code=f.transaction_code
         left join zyjr_start_page g on a.transaction_code=g.transaction_code
    </select>

    <select id="selectDQ2" resultType="com.jeethink.system.domain.vo.DqVo" >

select a.state statea,b.state stateb,c.state statec,a.id insurance,b.id gps,c.id daiqian
FROM zyjr_gps b
LEFT JOIN zyjr_insurance a on a.transaction_code=b.transaction_code
LEFT JOIN zyjr_daiqian_accout c on b.transaction_code=c.transaction_code where b.transaction_code=#{transactionCode}
    </select>

    <select id="selectDQ3" resultType="com.jeethink.system.domain.vo.DqVo" >

select a.state statea,b.state stateb,c.state statec,a.id insurance,b.id gps,c.id daiqian
FROM zyjr_daiqian_accout c
LEFT JOIN zyjr_gps b on c.transaction_code=b.transaction_code
LEFT JOIN zyjr_insurance a on a.transaction_code=c.transaction_code where a.transaction_code=#{transactionCode}
    </select>
    <insert id="insertStart" parameterType="com.jeethink.system.domain.ZyjrStartPage">
        insert into zyjr_start_page
        (id,fund_side,business_place,order_state,user_id,transaction_code,real_address,create_time)
        values
        (#{id},#{fundSide},#{businessPlace},#{orderState},#{userId},#{transactionCode},#{realAddress},#{createTime})
    </insert>
    <select id="findByStart" resultType="com.jeethink.system.domain.ZyjrStartPage">
        select id,fund_side,business_place,order_state,user_id,transaction_code,credit_state,real_address
        from zyjr_start_page
        where order_state=0 and user_id = #{userId}
    </select>

    <select id="findByStarts" resultType="com.jeethink.system.domain.ZyjrStartPage">
        select *
        from zyjr_start_page
        where transaction_code=#{transactionCode}
    </select>
    <update id="updateBorrower">
        update zyjr_borrower
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="issueAuthority!=null">
                issue_authority=#{issueAuthority},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="familyAddress != null">
                family_address = #{familyAddress},
            </if>
            <if test="obverseId != null">
                obverse_id = #{obverseId},
            </if>
            <if test="obverseCode!=null">
                obverse_code=#{obverseCode},
            </if>
            <if test="obverseAddress!=null">
                obverse_address=#{obverseAddress},
            </if>
            <if test="obverseName != null">
                obverse_name = #{obverseName},
            </if>
            <if test="backId != null">
                back_id = #{backId},
            </if>
            <if test="backCode != null">
                back_code = #{backCode},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress},
            </if>
            <if test="backName!=null">
                back_name=#{backName},
            </if>
            <if test="powerId!=null">
                power_id=#{powerId},
            </if>
            <if test="powerCode != null">
                power_code = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerAddress},
            </if>
            <if test="powerName != null">
                power_name = #{powerName},
            </if>
            <if test="creditPower!=null">
                credit_power=#{creditPower},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="orderState!=null">
                order_state=#{orderState},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode},
            </if>
            <if test="nation!=null">
                nation=#{nation},
            </if>
        </set>
        where order_state=0 and user_id = #{userId}
    </update>

    <update id="updateBystates">
        update zyjr_start_page set credit_state=#{creditState} where transaction_code=#{transactionCode} and order_state=1
    </update>
    <update id="updateByDaiqians">
        update zyjr_daiqian set user_id=#{userId},operator=#{operator} where id=#{id}
    </update>


    <update id="updateByCode">
        update zyjr_start_page set private_code=#{privateCode} where transaction_code=#{transactionCode}
    </update>

    <update id="updateByDaiqian">
        update zyjr_daiqian set state=#{state},opinion=#{opinion} where transaction_code=#{transactionCode}
    </update>
    <update id="updateByDaiqian2">
        update zyjr_daiqian
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state = #{state},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="account != null">account = #{account},</if>
            <if test="insurance != null">insurance = #{insurance},</if>
            <if test="gps != null">gps = #{gps},</if>
            <if test="gpsPic != null">gps_pic = #{gpsPic},</if>
            <if test="tijiao != null">tijiao = #{tijiao},</if>
            <if test="operator != null">operator = #{operator},</if>
        </trim>
        where id=#{id}
    </update>

    <update id="updateByDaihou">
         update zyjr_daihou set state=#{state},opinion=#{opinion} where transaction_code=#{transactionCode}
    </update>

    <update id="updateRelation">
        update zyjr_relation
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="issueAuthority!=null">
                issue_authority=#{issueAuthority},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="familyAddress != null">
                family_address = #{familyAddress},
            </if>
            <if test="company != null">
                company = #{company},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress},
            </if>
            <if test="yearIncome != null">
                year_income = #{yearIncome},
            </if>
            <if test="obverseId != null">
                obverse_id = #{obverseId},
            </if>
            <if test="obverseCode!=null">
                obverse_code=#{obverseCode},
            </if>
            <if test="obverseAddress!=null">
                obverse_address=#{obverseAddress},
            </if>
            <if test="obverseName != null">
                obverse_name = #{obverseName},
            </if>
            <if test="backId != null">
                back_id = #{backId},
            </if>
            <if test="backCode != null">
                back_code = #{backCode},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress},
            </if>
            <if test="backName!=null">
                back_name=#{backName},
            </if>
            <if test="powerId!=null">
                power_id=#{powerId},
            </if>
            <if test="powerCode != null">
                power_code = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerAddress},
            </if>
            <if test="powerName != null">
                power_name = #{powerName},
            </if>
            <if test="creditPower!=null">
                credit_power=#{creditPower},
            </if>
            <if test="peopleShip!=null">
                people_ship=#{peopleShip},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="businessRole!=null">
                business_role=#{businessRole},
            </if>
            <if test="orderState!=null">
                order_state=#{orderState},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateGuarantee">
        update zyjr_guarantee
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="issueAuthority!=null">
                issue_authority=#{issueAuthority},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="familyAddress != null">
                family_address = #{familyAddress},
            </if>
            <if test="company != null">
                company = #{company},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress},
            </if>
            <if test="yearIncome != null">
                year_income = #{yearIncome},
            </if>
            <if test="obverseId != null">
                obverse_id = #{obverseId},
            </if>
            <if test="obverseCode!=null">
                obverse_code=#{obverseCode},
            </if>
            <if test="obverseAddress!=null">
                obverse_address=#{obverseAddress},
            </if>
            <if test="obverseName != null">
                obverse_name = #{obverseName},
            </if>
            <if test="backId != null">
                back_id = #{backId},
            </if>
            <if test="backCode != null">
                back_code = #{backCode},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress},
            </if>
            <if test="backName!=null">
                back_name=#{backName},
            </if>
            <if test="powerId!=null">
                power_id=#{powerId},
            </if>
            <if test="powerCode != null">
                power_code = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerAddress},
            </if>
            <if test="powerName != null">
                power_name = #{powerName},
            </if>
            <if test="creditPower!=null">
                credit_power=#{creditPower},
            </if>
            <if test="peopleShip!=null">
                people_ship=#{peopleShip},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="orderState!=null">
                order_state=#{orderState},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="updateBusiness">
        update zyjr_business
        <set>
            <if test="team != null">
                team = #{team},
            </if>
            <if test="carInformation != null">
                car_information = #{carInformation},
            </if>
            <if test="intentionPrice != null">
                intention_price = #{intentionPrice},
            </if>
            <if test="loanMoney!=null">
                loan_money=#{loanMoney},
            </if>
            <if test="transactionCode != null">
                transaction_code = #{transactionCode},
            </if>
            <if test="repayPeriod!=null">
                repay_period=#{repayPeriod},
            </if>
            <if test="carType != null">
                car_type = #{carType},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="orderState != null">
                order_state = #{orderState},
            </if>
        </set>
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateStart">
        update zyjr_start_page
        <set>
            <if test="id!=null">
                id=#{id},
            </if>
            <if test="fundSide!=null">
                fund_side=#{fundSide},
            </if>
            <if test="businessPlace != null">
                business_place = #{businessPlace},
            </if>
            <if test="orderState != null">
                order_state = #{orderState},
            </if>
            <if test="userId  != null">
                user_id = #{userId},
            </if>
            <if test="transactionCode != null">
                transaction_code = #{transactionCode},
            </if>
        </set>
        where order_state=0 and user_id = #{userId}
    </update>

    <update id="updateStarts">
        update zyjr_start_page
        set credit_state="1"
        where  transaction_code = #{transactionCode}
    </update>
    <update id="updateStarts2">
        update zyjr_start_page
        set credit_state="2"
        where  transaction_code = #{transactionCode}
    </update>
    <update id="updateOne">
        update zyjr_borrower
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateTwo">
        update zyjr_relation
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateThree">
        update zyjr_guarantee
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateFour">
        update zyjr_business
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateFive">
        update zyjr_start_page
        set order_state=1,
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <select id="findOrder" resultType="com.jeethink.system.domain.vo.orderVo">
        select distinct b.transaction_code,b.mianqian,b.credit_power,b.contract_state,b.user_name,b.id_card,a.car_information,a.car_type,c.progress,c.approval_type,d.create_time,d.credit_state
        from zyjr_borrower b
        left join zyjr_business a on a.transaction_code=b.transaction_code
        left join zyjr_order_progress c on c.transaction_code=b.transaction_code
        left join zyjr_start_page d on d.transaction_code=b.transaction_code
        where b.user_id=#{userId} and b.order_state=1 and a.order_state=1 and d.order_state=1
        <if test="progress != null  and progress != ''"> and c.progress = #{progress}</if>
        order by d.create_time desc
    </select>
    <select id="findOrder2" resultType="com.jeethink.system.domain.vo.orderVo">
        select distinct b.transaction_code,b.mianqian,b.credit_power,b.contract_state,b.user_name,b.id_card,a.car_information,a.car_type,c.progress,c.approval_type,d.create_time,d.credit_state
        from zyjr_borrower b
        left join zyjr_business a on a.transaction_code=b.transaction_code
        left join zyjr_order_progress c on c.transaction_code=b.transaction_code
        left join zyjr_start_page d on d.transaction_code=b.transaction_code
        where b.user_id=#{userId} and b.order_state=1 and a.order_state=1 and d.order_state=1
         and b.contract_state = 0
        order by d.create_time desc
    </select>
    <select id="findOrder3" resultType="com.jeethink.system.domain.vo.orderVo">
        select distinct b.transaction_code,b.mianqian,b.credit_power,b.contract_state,b.user_name,b.id_card,a.car_information,a.car_type,c.progress,c.approval_type,d.create_time,d.credit_state
        from zyjr_borrower b
        left join zyjr_business a on a.transaction_code=b.transaction_code
        left join zyjr_order_progress c on c.transaction_code=b.transaction_code
        left join zyjr_start_page d on d.transaction_code=b.transaction_code
        where b.user_id=#{userId} and b.order_state=1 and a.order_state=1 and d.order_state=1 and b.mianqian=1
        order by d.create_time desc
    </select>
    <select id="Borrower" resultType="com.jeethink.system.domain.ZyjrBorrower">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code,nation
        from zyjr_borrower
        where transaction_code=#{transactionCode}
    </select>
    <select id="Relation" resultType="com.jeethink.system.domain.ZyjrRelation">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code
        from zyjr_relation
        where transaction_code=#{transactionCode}
    </select>
    <select id="Guarantee" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code
        from zyjr_guarantee
        where transaction_code=#{transactionCode}
    </select>
    <select id="Business" resultType="com.jeethink.system.domain.ZyjrBusiness">
        select id,team,car_information,intention_price,loan_money,repay_period,car_type,user_id,order_state,transaction_code
        from zyjr_business
        where transaction_code=#{transactionCode}
    </select>
    <select id="Start" resultType="com.jeethink.system.domain.ZyjrStartPage">
        select id,fund_side,business_place,order_state,user_id,transaction_code,credit_state,real_address
        from zyjr_start_page
        where transaction_code=#{transactionCode}
    </select>
    <select id="findGroup" resultType="com.jeethink.system.domain.vo.CarSeriseGroup">
        select brand_id,name
        from car_series_group
    </select>
    <select id="findSeries" resultType="com.jeethink.system.domain.vo.CarSeries">
        select brand_id,group_id,full_name
        from car_series
        where brand_id=#{brandId}
    </select>
    <select id="findInfo" resultType="com.jeethink.system.domain.vo.CarInfo">
        select full_name
        from car_info
        where brand_id=#{brandId} and group_id=#{groupId}
    </select>
    <select id="findAppCode" resultType="com.jeethink.system.domain.ZyjrApp">
        select * from zyjr_app order by id desc limit 1
    </select>
    <select id="selDaiqianById" resultType="com.jeethink.system.domain.ZyjrDaiqian">
        select *
        from zyjr_app
        where id=#{id}
    </select>

    <delete id="deleteBusiness">
        delete from zyjr_business
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteBorrower">
        delete from zyjr_borrower
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteRelation">
        delete from zyjr_relation
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteGuarantee">
        delete from zyjr_guarantee
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteStartPage">
        delete from zyjr_start_page
        where order_state=0 and user_id=#{userId}
    </delete>

    <delete id="deleteRelationById">
        delete from zyjr_relation
        where id=#{id}
    </delete>
    <delete id="deleteGuaranteeById">
        delete from zyjr_guarantee
        where id=#{id}
    </delete>
    <insert id="insertOrderProgress" parameterType="com.jeethink.system.domain.ZyjrOrderProgress">
        insert into zyjr_order_progress
        (id,transaction_code,progress,approval_type)
        values
        (#{id},#{transactionCode},#{progress},#{approvalType})
    </insert>
    <update id="updateOrderProgress">
        update zyjr_order_progress
        <set>
            <if test="progress!=null">
                progress=#{progress},
            </if>
            <if test="approvalType != null">
                approval_type = #{approvalType},
            </if>
        </set>
        where transaction_code = #{transactionCode}
    </update>
    <insert id="insertShangpai" parameterType="com.jeethink.system.domain.ZyjrShangpai">
        insert into zyjr_shangpai
        (id,registration_url,registration_number,transaction_code,submit_state)
        values
        (#{id},#{registrationUrl},#{registrationNumber},#{transactionCode},#{submitState})
    </insert>
    <insert id="insertZyjrApp" parameterType="com.jeethink.system.domain.ZyjrDaiqian">
        insert into zyjr_app
        (version_code,download_url,name,content)
        values
        (#{versionCode},#{downloadUrl},#{name},#{content})
    </insert>
    <select id="findShangpai" resultType="com.jeethink.system.domain.ZyjrShangpai">
        select id,registration_url,registration_number,transaction_code,submit_state
        from zyjr_shangpai
        where transaction_code=#{transactionCode}
    </select>
    <insert id="insertDiya" parameterType="com.jeethink.system.domain.ZyjrDiya">
        insert into zyjr_diya
        (id,registration_one,registration_two,mortgagee,id_prove,id_code,registration,car_code,mortgage_date,relieve_date,transaction_code,submit_state)
        values
        (#{id},#{registrationOne},#{registrationTwo},#{mortgagee},#{idProve},#{idCode},#{registration},#{carCode},#{mortgageDate},#{relieveDate},#{transactionCode},#{submitState})
    </insert>
    <select id="selByUserId" resultType="com.jeethink.system.domain.vo.Xiaoxi">
        select *
        from zyjr_xiaoxi
        where user=#{userId}
    </select>
    <insert id="insertXiaoxi" parameterType="com.jeethink.system.domain.vo.Xiaoxi">
        insert into zyjr_xiaoxi
        (code,data,date,user)
        values
        (#{code},#{data},#{date},#{user})
    </insert>
    <select id="findDiya" resultType="com.jeethink.system.domain.ZyjrDiya">
        select id,registration_one,registration_two,mortgagee,id_prove,id_code,registration,car_code,mortgage_date,relieve_date,transaction_code,submit_state
        from zyjr_diya
        where transaction_code=#{transactionCode}
    </select>
    <update id="updateShangpai">
        update zyjr_shangpai
        <set>
            <if test="id!=null">
                id=#{id},
            </if>
            <if test="registrationUrl!=null">
                registration_url=#{registrationUrl},
            </if>
            <if test="registrationNumber != null">
                registration_number = #{registrationNumber},
            </if>
            <if test="transactionCode != null">
                transaction_code = #{transactionCode},
            </if>
            <if test="submitState != null">
                submit_state = #{submitState},
            </if>
        </set>
        where transaction_code = #{transactionCode}
    </update>
    <update id="updateDiya">
    update zyjr_diya
    <set>
        <if test="id!=null">
            id=#{id},
        </if>
        <if test="registrationOne!=null">
            registration_one = #{registrationOne},
        </if>
        <if test="registrationTwo != null">
            registration_two = #{registrationTwo},
        </if>
        <if test="mortgagee != null">
            mortgagee = #{mortgagee},
        </if>
        <if test="idProve  != null">
            id_prove = #{idProve},
        </if>
        <if test="idCode  != null">
            id_code = #{idCode},
        </if>
        <if test="registration  != null">
            registration = #{registration},
        </if>
        <if test="carCode  != null">
            car_code = #{carCode},
        </if>
        <if test="mortgageDate  != null">
            mortgage_date = #{mortgageDate},
        </if>
        <if test="relieveDate  != null">
            relieve_date = #{relieveDate},
        </if>
        <if test="transactionCode != null">
            transaction_code = #{transactionCode},
        </if>
        <if test="submitState != null">
            submit_state = #{submitState},
        </if>
    </set>
        where transaction_code = #{transactionCode}
    </update>
    <insert id="updateByBairong">
             insert into zyjr_bairong
        (id_card,phone_number,user_name,conf,encrypt_data)
        values
        (#{idCard},#{phoneNumber},#{userName},#{conf},#{encryptData})

    </insert>

    <select id="searchOrder" resultType="com.jeethink.system.domain.vo.orderVo">
        select distinct b.transaction_code,b.credit_power,b.contract_state,b.user_name,b.id_card,a.car_information,a.car_type,c.progress,c.approval_type,d.create_time
        from zyjr_borrower b
        left join zyjr_business a on a.transaction_code=b.transaction_code
        left join zyjr_order_progress c on c.transaction_code=b.transaction_code
        left join zyjr_start_page d on d.transaction_code=b.transaction_code
        where (b.user_name like concat('%', #{search}, '%')
        or b.id_card like concat('%', #{search}, '%')
        or b.transaction_code like concat('%', #{search}, '%'))
        and b.user_id=#{userId}
        order by d.create_time desc
    </select>
    <select id="relationName" resultType="com.jeethink.system.domain.vo.RelationName">
        select user_name,id
        from zyjr_relation
        where transaction_code = #{transactionCode}
    </select>
    <select id="findById" resultType="com.jeethink.system.domain.ZyjrRelation">
        select *
        from zyjr_relation
        where id=#{id}
    </select>
    <select id="selectBairong" resultType="com.jeethink.system.domain.vo.Bairong">
        select *
        from zyjr_bairong
        where user_name=#{userName} and phone_number=#{phoneNumber} and id_card=#{idCard}
    </select>
    <select id="findFundSide" resultType="com.jeethink.system.domain.ZyjrFundSide">
        select *
        from zyjr_fund_side
        where transaction_code = #{transactionCode}
    </select>
    <insert id="insertFundSide" parameterType="com.jeethink.system.domain.ZyjrFundSide">
        insert into zyjr_fund_side
        (id,side_name,transaction_code,order_state)
        values
        (#{id},#{sideName},#{transactionCode},#{orderState})
    </insert>
    <update id="updateFundSide" parameterType="com.jeethink.system.domain.ZyjrFundSide">
        update zyjr_fund_side
        <set>
            <if test="sideName != null">
                side_name = #{sideName},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode},
            </if>
            <if test="orderState != null">
                order_state = #{orderState},
            </if>
        </set>
        where transaction_code = #{transactionCode}
    </update>
    <insert id="addAllowState" parameterType="com.jeethink.system.domain.ZyjrSubmitStateAllow">
        insert into zyjr_submit_state_allow
        (id,transaction_code,submit_state)
        values
        (#{id},#{transactionCode},#{submitState})
    </insert>
    <update id="updateAllowState" parameterType="com.jeethink.system.domain.ZyjrSubmitStateAllow">
        update zyjr_submit_state_allow
        set submit_state=#{submitState}
        where transaction_code = #{transactionCode}
    </update>
    <select id="findAllowState" resultType="com.jeethink.system.domain.ZyjrSubmitStateAllow">
        select *
        from zyjr_submit_state_allow
        where transaction_code = #{transactionCode}
    </select>
    <insert id="addGrantState" parameterType="com.jeethink.system.domain.ZyjrSubmitStateGrant">
        insert into zyjr_submit_state_grant
        (id,transaction_code,submit_state)
        values
        (#{id},#{transactionCode},#{submitState})
    </insert>
    <update id="updateGrantState" parameterType="com.jeethink.system.domain.ZyjrSubmitStateAllow">
        update zyjr_submit_state_grant
        set submit_state=#{submitState}
        where transaction_code = #{transactionCode}
    </update>
    <select id="findGrantState" resultType="com.jeethink.system.domain.ZyjrSubmitStateGrant">
        select *
        from zyjr_submit_state_grant
        where transaction_code = #{transactionCode}
    </select>
    <select id="allowList" resultType="com.jeethink.system.domain.vo.AllowStateVo">
        select a.order_state shenqingren,b.order_state cheliang,c.order_state zijinfang,d.order_state jinjilianxiren,
        a.transaction_code,e.submit_state,b.loan_state daikuan
        from zyjr_allow_applicant a
        left join zyjr_car_loan b on a.transaction_code=b.transaction_code
        left join zyjr_fund_side c on a.transaction_code=c.transaction_code
        left join zyjr_allow_contacts d on a.transaction_code=d.transaction_code
        left join zyjr_submit_state_allow e on a.transaction_code=e.transaction_code
        where a.transaction_code=#{transactionCode}
    </select>
    <select id="grantList" resultType="com.jeethink.system.domain.vo.GrantStateVo">
        select f.order_state cheliangzhaopian,k.loan_amount,l.submit_state
        from zyjr_photo_car f
        left join zyjr_car_loan k on f.transaction_code=k.transaction_code
        left join zyjr_submit_state_grant l on f.transaction_code=l.transaction_code
        where f.transaction_code=#{transactionCode}
    </select>
    <select id="findRe" resultType="com.jeethink.system.domain.ZyjrRelation">
        select *
        from zyjr_relation
        where transaction_code=#{transactionCode}
    </select>
    <select id="findGu" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select *
        from zyjr_guarantee
        where transaction_code=#{transactionCode}
    </select>
    <select id="findApType" resultType="com.jeethink.system.domain.vo.OpinionVo">
        select a.approval_type as allowOpinion,b.approval_type as repeatOpinion,c.approval_type as grantOpinion,d.state as daiqianOpinion,e.state as daihouOpinion
        from zyjr_allow_opinion a
        left join zyjr_repeat_opinion b on b.transaction_code=a.transaction_code
        left join zyjr_grant_opinion c on c.transaction_code=b.transaction_code
        left join zyjr_daiqian d on d.transaction_code=c.transaction_code
        left join zyjr_daihou e on e.transaction_code=d.transaction_code
        where a.transaction_code=#{transactionCode}
    </select>
    <select id="findSubmit" resultType="com.jeethink.system.domain.vo.SubmitVo">
        select a.submit_state zhunru,b.submit_state shouxin,c.tijiao daiqian,d.tijiao daihou
        from zyjr_submit_state_allow a
        left join zyjr_submit_state_grant b on a.transaction_code=b.transaction_code
        left join zyjr_daiqian c on a.transaction_code=c.transaction_code
        left join zyjr_daihou d on a.transaction_code=d.transaction_code
        where a.transaction_code=#{transactionCode}
    </select>
</mapper>