<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ExamineMapper">

    <resultMap type="com.jeethink.system.domain.ZyjrDaiqian" id="ZyjrAllowBasicsResult2">
        <result property="id"    column="id"    />
        <result property="state"    column="state"    />
        <result property="opinion"    column="opinion"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="userName"    column="user_name"    />
        <result property="carType"    column="car_type"    />
        <result property="team"    column="team"    />
        <result property="loanAmount"    column="loan_amount"    />
        <result property="repaymentTerm"    column="repayment_term"    />
        <result property="actualPrice"    column="actual_price"    />
        <result property="carInformation"    column="car_information"    />
    </resultMap>
    <select id="selectAllList" parameterType="com.jeethink.system.domain.ZyjrDaiqian" resultMap="ZyjrAllowBasicsResult2">
        select e.id, e.state, e.opinion,e.user_id,e.operator, a.transaction_code,
        b.user_name,c.car_type,c.team,f.loan_amount,f.repayment_term,f.actual_price,c.car_information
        from zyjr_grant_opinion a
        left join zyjr_borrower b on a.transaction_code=b.transaction_code
        left join zyjr_business c on a.transaction_code=c.transaction_code
        left join zyjr_allow_basics d on a.transaction_code=d.transaction_code
        left join zyjr_daiqian e on a.transaction_code=e.transaction_code
        left join zyjr_car_loan f on a.transaction_code=f.transaction_code
        where a.approval_type=1 and e.state!="1" or e.state is null
    </select>
    <insert id="insertBorrower" parameterType="com.jeethink.system.domain.ZyjrBorrower">
        insert into zyjr_borrower
        (id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code)
        values
        (#{id},#{userName},#{idCard},#{bankCardNo},#{phoneNumber},#{issueAuthority},#{startDate},#{endDate},#{familyAddress},#{obverseId},#{obverseCode},
        #{obverseAddress},#{obverseName},#{backId},#{backCode},#{backAddress},#{backName},#{powerId},#{powerCode},#{powerAddress},#{powerName},#{creditPower},#{userId},#{orderState},#{transactionCode})
    </insert>
    <insert id="insertRelation" parameterType="com.jeethink.system.domain.ZyjrRelation">
        insert into zyjr_relation
        (id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code)
        values
        (#{id},#{userName},#{idCard},#{bankCardNo},#{phoneNumber},#{issueAuthority},#{startDate},#{endDate},#{familyAddress},#{company},#{companyAddress},#{yearIncome},#{obverseId},
        #{obverseCode},#{obverseAddress},#{obverseName},#{backId},#{backCode},#{backAddress},#{backName},#{powerId},#{powerCode},#{powerAddress},#{powerName},#{creditPower},#{peopleShip},#{userId},#{businessRole},#{orderState},#{transactionCode})
    </insert>
    <insert id="insertGuarantee" parameterType="com.jeethink.system.domain.ZyjrGuarantee">
        insert into zyjr_guarantee
        (id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code)
        values
        (#{id},#{userName},#{idCard},#{bankCardNo},#{phoneNumber},#{issueAuthority},#{startDate},#{endDate},#{familyAddress},#{company},#{companyAddress},#{yearIncome},#{obverseId},
        #{obverseCode},#{obverseAddress},#{obverseName},#{backId},#{backCode},#{backAddress},#{backName},#{powerId},#{powerCode},#{powerAddress},#{powerName},#{creditPower},#{peopleShip},#{userId},#{orderState},#{transactionCode})
    </insert>

    <insert id="insertDaiqian" parameterType="com.jeethink.system.domain.ZyjrDaiqian">
        insert into zyjr_daiqian
        (state,opinion,transaction_code)
        values
        (#{state},#{opinion},#{transactionCode})
    </insert>
    <insert id="insertDaiqians" parameterType="com.jeethink.system.domain.ZyjrDaiqian">
        insert into zyjr_daiqian
        (transaction_code)
        values
        (#{transactionCode})
    </insert>
    <insert id="insertBusiness" parameterType="com.jeethink.system.domain.ZyjrBusiness">
        insert into zyjr_business
        (id,team,car_information,intention_price,loan_money,repay_period,car_type,user_id,order_state,transaction_code)
        values
        (#{id},#{team},#{carInformation},#{intentionPrice},#{loanMoney},#{repayPeriod},#{carType},#{userId},#{orderState},#{transactionCode})
    </insert>
    <select id="findByBorrower" resultType="com.jeethink.system.domain.ZyjrBorrower">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code
        from zyjr_borrower
        where order_state=0 and user_id = #{userId}
    </select>
    <select id="findByRelation" resultType="com.jeethink.system.domain.ZyjrRelation">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code
        from zyjr_relation
        where order_state=0 and user_id = #{userId}
    </select>
    <select id="selectZyjrCarByLinkman" resultType="com.jeethink.system.domain.vo.Linkman" >
        select id,remark,user_name,gender,phone_number,is_linkman,identity, two_car_state
        from zyjr_car
       where two_car_state="1" and id=#{id}
    </select>
    <select id="findByGuarantee" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code
        from zyjr_guarantee
        where order_state=0 and user_id = #{userId}
    </select>
    <select id="findByBusiness" resultType="com.jeethink.system.domain.ZyjrBusiness">
        select id,team,car_information,intention_price,loan_money,repay_period,car_type,user_id,order_state,transaction_code
        from zyjr_business
        where order_state=0 and user_id = #{userId}
    </select>

    <select id="selectZyjrCarLists" resultType="com.jeethink.system.domain.vo.carVo" >
        select dealer_name, area, city, bazaar, shop_type, id, state,three_car_state,two_car_state,one_car_state,create_by, create_time
        from zyjr_car
       where two_car_state="1" and create_by=#{userId}
    </select>
    <select id="selByDaiqian" resultType="com.jeethink.system.domain.ZyjrDaiqian" >
        select *
        from zyjr_daiqian
       where transaction_code=#{transactionCode}
    </select>
    <select id="selectDQ" resultType="com.jeethink.system.domain.vo.DqVo" >

select a.state statea,b.state stateb,c.state statec,a.id insurance,b.id gps,c.id daiqian
FROM zyjr_insurance a
LEFT JOIN zyjr_gps b on a.transaction_code=b.transaction_code
LEFT JOIN zyjr_daiqian_accout c on a.transaction_code=c.transaction_code where a.transaction_code=#{transactionCode}
    </select>

    <select id="selectDQ2" resultType="com.jeethink.system.domain.vo.DqVo" >

select a.state statea,b.state stateb,c.state statec,a.id insurance,b.id gps,c.id daiqian
FROM zyjr_gps b
LEFT JOIN zyjr_insurance a on a.transaction_code=b.transaction_code
LEFT JOIN zyjr_daiqian_accout c on b.transaction_code=c.transaction_code where b.transaction_code=#{transactionCode}
    </select>

    <select id="selectDQ3" resultType="com.jeethink.system.domain.vo.DqVo" >

select a.state statea,b.state stateb,c.state statec,a.id insurance,b.id gps,c.id daiqian
FROM zyjr_daiqian_accout c
LEFT JOIN zyjr_gps b on c.transaction_code=b.transaction_code
LEFT JOIN zyjr_daiqian_accout a on a.transaction_code=c.transaction_code where a.transaction_code=#{transactionCode}
    </select>
    <insert id="insertStart" parameterType="com.jeethink.system.domain.ZyjrStartPage">
        insert into zyjr_start_page
        (id,fund_side,business_place,order_state,user_id,transaction_code,real_address,create_time)
        values
        (#{id},#{fundSide},#{businessPlace},#{orderState},#{userId},#{transactionCode},#{realAddress},#{createTime})
    </insert>
    <select id="findByStart" resultType="com.jeethink.system.domain.ZyjrStartPage">
        select id,fund_side,business_place,order_state,user_id,transaction_code,credit_state,real_address
        from zyjr_start_page
        where order_state=0 and user_id = #{userId}
    </select>

    <select id="findByStarts" resultType="com.jeethink.system.domain.ZyjrStartPage">
        select *
        from zyjr_start_page
        where transaction_code=#{transactionCode}
    </select>
    <update id="updateBorrower">
        update zyjr_borrower
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="issueAuthority!=null">
                issue_authority=#{issueAuthority},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="familyAddress != null">
                family_address = #{familyAddress},
            </if>
            <if test="obverseId != null">
                obverse_id = #{obverseId},
            </if>
            <if test="obverseCode!=null">
                obverse_code=#{obverseCode},
            </if>
            <if test="obverseAddress!=null">
                obverse_address=#{obverseAddress},
            </if>
            <if test="obverseName != null">
                obverse_name = #{obverseName},
            </if>
            <if test="backId != null">
                back_id = #{backId},
            </if>
            <if test="backCode != null">
                back_code = #{backCode},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress},
            </if>
            <if test="backName!=null">
                back_name=#{backName},
            </if>
            <if test="powerId!=null">
                power_id=#{powerId},
            </if>
            <if test="powerCode != null">
                power_code = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerAddress},
            </if>
            <if test="powerName != null">
                power_name = #{powerName},
            </if>
            <if test="creditPower!=null">
                credit_power=#{creditPower},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="orderState!=null">
                order_state=#{orderState},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode}
            </if>
        </set>
        where order_state=0 and user_id = #{userId}
    </update>

    <update id="updateBystates">
        update zyjr_start_page set credit_state=#{creditState} where transaction_code=#{transactionCode} and order_state=1
    </update>
    <update id="updateByDaiqians">
        update zyjr_daiqian set user_id=#{userId},operator=#{operator} where id=#{id}
    </update>


    <update id="updateByCode">
        update zyjr_start_page set private_code=#{privateCode} where transaction_code=#{transactionCode}
    </update>

    <update id="updateByDaiqian">
        update zyjr_daiqian set state=#{state},opinion=#{opinion} where transaction_code=#{transactionCode}
    </update>

    <update id="updateByDaihou">
         update zyjr_daihou set state=#{state},opinion=#{opinion} where transaction_code=#{transactionCode}
    </update>

    <update id="updateRelation">
        update zyjr_relation
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="issueAuthority!=null">
                issue_authority=#{issueAuthority},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="familyAddress != null">
                family_address = #{familyAddress},
            </if>
            <if test="company != null">
                company = #{company},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress},
            </if>
            <if test="yearIncome != null">
                year_income = #{yearIncome},
            </if>
            <if test="obverseId != null">
                obverse_id = #{obverseId},
            </if>
            <if test="obverseCode!=null">
                obverse_code=#{obverseCode},
            </if>
            <if test="obverseAddress!=null">
                obverse_address=#{obverseAddress},
            </if>
            <if test="obverseName != null">
                obverse_name = #{obverseName},
            </if>
            <if test="backId != null">
                back_id = #{backId},
            </if>
            <if test="backCode != null">
                back_code = #{backCode},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress},
            </if>
            <if test="backName!=null">
                back_name=#{backName},
            </if>
            <if test="powerId!=null">
                power_id=#{powerId},
            </if>
            <if test="powerCode != null">
                power_code = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerAddress},
            </if>
            <if test="powerName != null">
                power_name = #{powerName},
            </if>
            <if test="creditPower!=null">
                credit_power=#{creditPower},
            </if>
            <if test="peopleShip!=null">
                people_ship=#{peopleShip},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="businessRole!=null">
                business_role=#{businessRole},
            </if>
            <if test="orderState!=null">
                order_state=#{orderState},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode}
            </if>
        </set>
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateGuarantee">
        update zyjr_guarantee
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userName != null">
                user_name = #{userName},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="bankCardNo != null">
                bank_card_no = #{bankCardNo},
            </if>
            <if test="phoneNumber!=null">
                phone_number=#{phoneNumber},
            </if>
            <if test="issueAuthority!=null">
                issue_authority=#{issueAuthority},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="familyAddress != null">
                family_address = #{familyAddress},
            </if>
            <if test="company != null">
                company = #{company},
            </if>
            <if test="companyAddress != null">
                company_address = #{companyAddress},
            </if>
            <if test="yearIncome != null">
                year_income = #{yearIncome},
            </if>
            <if test="obverseId != null">
                obverse_id = #{obverseId},
            </if>
            <if test="obverseCode!=null">
                obverse_code=#{obverseCode},
            </if>
            <if test="obverseAddress!=null">
                obverse_address=#{obverseAddress},
            </if>
            <if test="obverseName != null">
                obverse_name = #{obverseName},
            </if>
            <if test="backId != null">
                back_id = #{backId},
            </if>
            <if test="backCode != null">
                back_code = #{backCode},
            </if>
            <if test="backAddress != null">
                back_address = #{backAddress},
            </if>
            <if test="backName!=null">
                back_name=#{backName},
            </if>
            <if test="powerId!=null">
                power_id=#{powerId},
            </if>
            <if test="powerCode != null">
                power_code = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerCode},
            </if>
            <if test="powerAddress != null">
                power_address = #{powerAddress},
            </if>
            <if test="powerName != null">
                power_name = #{powerName},
            </if>
            <if test="creditPower!=null">
                credit_power=#{creditPower},
            </if>
            <if test="peopleShip!=null">
                people_ship=#{peopleShip},
            </if>
            <if test="userId!=null">
                user_id=#{userId},
            </if>
            <if test="orderState!=null">
                order_state=#{orderState},
            </if>
            <if test="transactionCode!=null">
                transaction_code=#{transactionCode}
            </if>
        </set>
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateBusiness">
        update zyjr_business
        <set>
            <if test="team != null">
                team = #{team},
            </if>
            <if test="carInformation != null">
                car_information = #{carInformation},
            </if>
            <if test="intentionPrice != null">
                intention_price = #{intentionPrice},
            </if>
            <if test="loanMoney!=null">
                loan_money=#{loanMoney},
            </if>
            <if test="transactionCode != null">
                transaction_code = #{transactionCode},
            </if>
            <if test="repayPeriod!=null">
                repay_period=#{repayPeriod},
            </if>
            <if test="carType != null">
                car_type = #{carType},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="orderState != null">
                order_state = #{orderState}
            </if>

        </set>
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateStart">
        update zyjr_start_page
        <set>
            <if test="id!=null">
                id=#{id},
            </if>
            <if test="fundSide!=null">
                fund_side=#{fundSide},
            </if>
            <if test="businessPlace != null">
                business_place = #{businessPlace},
            </if>
            <if test="orderState != null">
                order_state = #{orderState},
            </if>
            <if test="userId  != null">
                user_id = #{userId},
            </if>
            <if test="transactionCode != null">
                transaction_code = #{transactionCode},
            </if>

        </set>
        where order_state=0 and user_id = #{userId}
    </update>

    <update id="updateStarts">
        update zyjr_start_page
        set credit_state="1"
        where  transaction_code = #{transactionCode}
    </update>
    <update id="updateOne">
        update zyjr_borrower
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateTwo">
        update zyjr_relation
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateThree">
        update zyjr_guarantee
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateFour">
        update zyjr_business
        set order_state=#{orderState},
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <update id="updateFive">
        update zyjr_start_page
        set order_state=1,
        transaction_code=#{transactionCode}
        where order_state=0 and user_id = #{userId}
    </update>
    <select id="findOrder" resultType="com.jeethink.system.domain.vo.orderVo">
        select a.transaction_code,b.user_name,a.car_information,a.car_type,c.progress,d.create_time
        from zyjr_business a
        left join zyjr_borrower b on b.transaction_code=a.transaction_code
        left join zyjr_order_progress c on c.transaction_code=b.transaction_code
        left join zyjr_start_page d on d.transaction_code=c.transaction_code
        where a.user_id=#{userId}
    </select>

    <select id="Borrower" resultType="com.jeethink.system.domain.ZyjrBorrower">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code
        from zyjr_borrower
        where transaction_code=#{transactionCode}
    </select>
    <select id="Relation" resultType="com.jeethink.system.domain.ZyjrRelation">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code
        from zyjr_relation
        where transaction_code=#{transactionCode}
    </select>
    <select id="Guarantee" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code
        from zyjr_guarantee
        where transaction_code=#{transactionCode}
    </select>
    <select id="Business" resultType="com.jeethink.system.domain.ZyjrBusiness">
        select id,team,car_information,intention_price,loan_money,repay_period,car_type,user_id,order_state,transaction_code
        from zyjr_business
        where transaction_code=#{transactionCode}
    </select>
    <select id="Start" resultType="com.jeethink.system.domain.ZyjrStartPage">
        select id,fund_side,business_place,order_state,user_id,transaction_code,credit_state,real_address
        from zyjr_start_page
        where transaction_code=#{transactionCode}
    </select>
    <select id="findGroup" resultType="com.jeethink.system.domain.vo.CarSeriseGroup">
        select brand_id,name
        from car_series_group
    </select>
    <select id="findSeries" resultType="com.jeethink.system.domain.vo.CarSeries">
        select brand_id,group_id,full_name
        from car_series
        where brand_id=#{brandId}
    </select>
    <select id="findInfo" resultType="com.jeethink.system.domain.vo.CarInfo">
        select full_name
        from car_info
        where brand_id=#{brandId} and group_id=#{groupId}
    </select>
    <select id="findAppCode" resultType="com.jeethink.system.domain.ZyjrApp">
        select *
        from zyjr_app
    </select>
    <select id="selDaiqianById" resultType="com.jeethink.system.domain.ZyjrDaiqian">
        select *
        from zyjr_app
        where id=#{id}
    </select>

    <delete id="deleteBusiness">
        delete from zyjr_business
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteBorrower">
        delete from zyjr_borrower
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteRelation">
        delete from zyjr_relation
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteGuarantee">
        delete from zyjr_guarantee
        where order_state=0 and user_id=#{userId}
    </delete>
    <delete id="deleteStartPage">
        delete from zyjr_start_page
        where order_state=0 and user_id=#{userId}
    </delete>
</mapper>