<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.StageExamineMapper">
    <select id="findByBorrower" resultType="com.jeethink.system.domain.ZyjrBorrower">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code
        from zyjr_borrower
        where order_state=1 and transaction_code=#{transactionCode}
    </select>
    <select id="findByRelation" resultType="com.jeethink.system.domain.ZyjrRelation">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code
        from zyjr_relation
        where order_state=1 and transaction_code=#{transactionCode}
    </select>
    <select id="findByGuarantee" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code
        from zyjr_guarantee
        where order_state=1 and transaction_code=#{transactionCode}
    </select>
    <select id="findByBusiness" resultType="com.jeethink.system.domain.ZyjrBusiness">
        select a.id, a.team, a.car_information,a.false_operator,a.false_operator_id, a.intention_price, a.loan_money, a.repay_period,a. car_type,a. user_id, a.order_state,a.transaction_code,b.real_address from zyjr_business a
        left join zyjr_start_page b on a.transaction_code=b.transaction_code
        where a.order_state=1 and a.transaction_code=#{transactionCode}
    </select>
    <insert id="insertBank" parameterType="com.jeethink.system.domain.ZyjrDetails">
        insert into zyjr_details
        (id,transaction_code,details)
        values
        (#{id},#{transactionCode},#{details})
    </insert>
    <select id="findByDetails" resultType="com.jeethink.system.domain.ZyjrDetails">
        select id,transaction_code,details
        from zyjr_details
        where transaction_code=#{transactionCode}
    </select>
    <delete id="deleteOpinion">
        delete from zyjr_repeat_opinion
        where transaction_code=#{transactionCode}
    </delete>
    <insert id="insertOpinion" parameterType="com.jeethink.system.domain.ZyjrRepeatOpinion">
        insert into zyjr_repeat_opinion
        (advise, approval_type, transaction_code, user_id)
        values
        (#{advise},#{approvalType},#{transactionCode},#{userId})
    </insert>
    <select id="findOpinion" resultType="com.jeethink.system.domain.ZyjrRepeatOpinion">
        select id, advise, approval_type, transaction_code, user_id
        from zyjr_repeat_opinion
        where transaction_code=#{transactionCode}
    </select>
    <select id="list" resultType="com.jeethink.system.domain.vo.ZyjrGrant">
        select distinct b.id, a.team,e.create_time,d.repeat_id,d.repeat_by,a.car_information, d.actual_price, d.loan_amount, d.repayment_term, a.car_type, b.user_id, b.order_state,b.transaction_code,b.user_name as name,c.approval_type
         from zyjr_borrower b
         left join zyjr_start_page e on b.transaction_code=e.transaction_code
         left join zyjr_business a on e.transaction_code=a.transaction_code
         left join zyjr_car_loan d on a.transaction_code=d.transaction_code
         left join zyjr_repeat_opinion c on d.transaction_code=c.transaction_code
         where a.transaction_code in (select transaction_code from zyjr_allow_opinion where approval_type=1 and c.approval_type!=1 or c.approval_type is null)
    </select>
    <select id="findGrant" resultType="com.jeethink.system.domain.vo.ZyjrGrant">
        select distinct b.id, a.team,e.create_time,d.grant_id,d.grant_by,a.car_information, d.actual_price, d.loan_amount, d.repayment_term, a.car_type, b.user_id, b.order_state,b.transaction_code,b.user_name as name,c.approval_type
         from zyjr_borrower b
         left join zyjr_start_page e on b.transaction_code=e.transaction_code
         left join zyjr_business a on e.transaction_code=a.transaction_code
         left join zyjr_car_loan d on a.transaction_code=d.transaction_code
         left join zyjr_grant_opinion c on d.transaction_code=c.transaction_code
         where a.transaction_code in (select transaction_code from zyjr_repeat_opinion where approval_type=1 and c.approval_type!=1 or c.approval_type is null)
    </select>
    <insert id="insertGrantOpinion" parameterType="com.jeethink.system.domain.ZyjrGrantOpinion">
        insert into zyjr_grant_opinion
        (advise, approval_type, transaction_code, user_id)
        values
        (#{advise},#{approvalType},#{transactionCode},#{userId})
    </insert>
    <select id="findGrantOpinion" resultType="com.jeethink.system.domain.ZyjrGrantOpinion">
        select id, advise, approval_type, transaction_code, user_id
        from zyjr_grant_opinion
        where transaction_code=#{transactionCode}
    </select>
    <select id="findByGrant" resultType="com.jeethink.system.domain.vo.GrantVo">
        select a.user_id,a.transaction_code,a.user_name,a.id_card,a.bank_card_no,a.phone_number,b.fund_side,
        c.actual_price,c.loan_amount,c.repayment_term,c.interest_rate,c.deposit
         from zyjr_borrower a
         left join zyjr_start_page b on b.transaction_code=a.transaction_code
         left join zyjr_car_loan c on c.transaction_code=b.transaction_code
         where a.transaction_code=#{transaction_code}
    </select>
    <select id="findAllow" resultType="com.jeethink.system.domain.vo.ZyjrGrant">
        SELECT distinct b.id, a.team,e.create_time,d.allow_id,d.allow_by,a.car_information, d.actual_price, d.loan_amount, d.repayment_term, a.car_type, b.user_id, b.order_state,b.transaction_code,b.user_name AS NAME,c.approval_type
         FROM zyjr_borrower b
         left join zyjr_start_page e on b.transaction_code=e.transaction_code
         left join zyjr_business a on e.transaction_code=a.transaction_code
         left join zyjr_car_loan d on a.transaction_code=d.transaction_code
         LEFT JOIN zyjr_allow_opinion c ON d.transaction_code=c.transaction_code
         WHERE c.approval_type!=1 OR c.approval_type IS NULL
    </select>

    <select id="findShangpai" resultType="com.jeethink.system.domain.vo.ShangpaiDiyaVo">
        select a.transaction_code,a.user_name,a.id_card,b.fund_side,c.team,c.car_type,d.submit_state
        from zyjr_borrower a
        left join zyjr_start_page b on b.transaction_code=a.transaction_code
        left join zyjr_business c on c.transaction_code=b.transaction_code
        left join zyjr_shangpai d on d.transaction_code=c.transaction_code
        where a.transaction_code in (select transaction_code from zyjr_fangkuan where count is not null)
    </select>
    <insert id="insertShangpaiOpinion" parameterType="com.jeethink.system.domain.vo.ZyjrGrant">
        insert into zyjr_shangpai_opinion
        (id,advise,approval_type,transaction_code,user_id)
        values
        (#{id},#{advise},#{approvalType},#{transactionCode},#{userId})
    </insert>
    <select id="findShangpaiOpinion" resultType="com.jeethink.system.domain.ZyjrGrantOpinion">
        select *
        from zyjr_shangpai_opinion
        where transaction_code=#{transactionCode}
    </select>

    <select id="findDiya" resultType="com.jeethink.system.domain.vo.ShangpaiDiyaVo">
        select a.transaction_code,a.user_name,a.id_card,b.fund_side,c.team,c.car_type,d.submit_state
        from zyjr_borrower a
        left join zyjr_start_page b on b.transaction_code=a.transaction_code
        left join zyjr_business c on c.transaction_code=b.transaction_code
        left join zyjr_diya d on d.transaction_code=c.transaction_code
        where a.transaction_code in (select transaction_code from zyjr_shangpai_opinion where approval_type=1)
    </select>
    <insert id="insertDiyaOpinion" parameterType="com.jeethink.system.domain.vo.ZyjrGrant">
        insert into zyjr_diya_opinion
        (id,advise,approval_type,transaction_code,user_id)
        values
        (#{id},#{advise},#{approvalType},#{transactionCode},#{userId})
    </insert>
    <select id="findDiyaOpinion" resultType="com.jeethink.system.domain.ZyjrGrantOpinion">
        select *
        from zyjr_diya_opinion
        where transaction_code=#{transactionCode}
    </select>
</mapper>