<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.StageExamineMapper">
    <select id="findByBorrower" resultType="com.jeethink.system.domain.ZyjrBorrower">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,obverse_id,obverse_code,obverse_address,
        obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,user_id,order_state,transaction_code
        from zyjr_borrower
        where order_state=1 and transaction_code=#{transactionCode}
    </select>
    <select id="findByRelation" resultType="com.jeethink.system.domain.ZyjrRelation">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,business_role,order_state,transaction_code
        from zyjr_relation
        where order_state=1 and transaction_code=#{transactionCode}
    </select>
    <select id="findByGuarantee" resultType="com.jeethink.system.domain.ZyjrGuarantee">
        select id,user_name,id_card,bank_card_no,phone_number,issue_authority,start_date,end_date,family_address,company,company_address,year_income,obverse_id,
        obverse_code,obverse_address,obverse_name,back_id,back_code,back_address,back_name,power_id,power_code,power_address,power_name,credit_power,people_ship,user_id,order_state,transaction_code
        from zyjr_guarantee
        where order_state=1 and transaction_code=#{transactionCode}
    </select>
    <select id="findByBusiness" resultType="com.jeethink.system.domain.ZyjrBusiness">
        select a.id, a.team, a.car_information,a.false_operator,a.false_operator_id, a.intention_price, a.loan_money, a.repay_period,a. car_type,a. user_id, a.order_state,a.transaction_code,b.real_address from zyjr_business a
        left join zyjr_start_page b on a.transaction_code=b.transaction_code
        where a.order_state=1 and a.transaction_code=#{transactionCode}
    </select>
    <insert id="insertBank" parameterType="com.jeethink.system.domain.ZyjrDetails">
        insert into zyjr_details
        (id,transaction_code,details)
        values
        (#{id},#{transactionCode},#{details})
    </insert>
    <select id="findByDetails" resultType="com.jeethink.system.domain.ZyjrDetails">
        select id,transaction_code,details
        from zyjr_details
        where transaction_code=#{transactionCode}
    </select>
    <select id="find">
        select a.id, a.household_nature, a.live_time, a.live_address, a.phone_number, a.house_power, a.education, a.is_license, a.driver_ship, a.license_type, a.unit_name, a.work_address, a.unit_phone, a.unit_nature, a.industry, a.position, a.monthly_income, a.marriage, a.card_address, a.back_address, a.spouse_name, a.id_number, a.permanent_address, a.phone_no, a.spouse_education, a.spouse_unit_name, a.spouse_work_place, a.spouse_work_phone, a.spouse_monthly_income, a.order_state, a.transaction_code, a.user_id
        b.id, b.approval_type, b.dealers_id, b.dealer_stores, b.plate_type, b.market, b.store, b.operate, b.more_info, b.user_id, b.transaction_code, b.order_state
        c.id, c.name_one, c.ship_one, c.phone_one, c.name_two, c.ship_two, c.phone_two, c.transaction_code, c.order_state, c.user_id
        d.id, d.car_type, d.vin_code, d.brand, d.car_series, d.car_year, d.displacement, d.gear, d.style, d.engine_code, d.fuel_type, d.mileage, d.start_date, d.actual_price, d.loan_amount, d.repayment_term, d.interest_rate, d.deposit, d.transaction_code, d.order_state, d.user_id
        e.id, e.is_any, e.company_name, e.enterprise_type, e.register_money, e.establish_time, e.operation_period, e.company_city, e.company_address, e.corporate_id, e.corporate_phone, e.transaction_code, e.order_state, e.user_id
        f.id, f.is_debt, f.people_ship, f.card_address, f.back_address, f.debt_name, f.id_card, f.education, f.now_place, f.phone_namber, f.now_work, f.work_place, f.company_phone, f.company_nature, f.monthly_income, f.user_id, f.transaction_code, f.order_state
        g.id, g.is_any, g.card_address, g.back_address, g.guarantee_name, g.id_number, g.people_ship, g.education, g.monthly_income, g.detail_place, g.phone_number, g.work_unit, g.unit_place, g.work_phone, g.transaction_code, g.order_state, g.user_id

        from zyjr_allow_applicant a
        left join zyjr_allow_basics b on b.user_id=a.user_id and b.transaction_code=a.transaction_code
        left join zyjr_allow_contacts c on c.user_id=c.user_id and c.transaction_code=b.transaction_code
        left join zyjr_car_loan d on d.user_id=c.user_id and d.transaction_code=b.transaction_code
        left join zyjr_company_guarantee e on e.user_id=d.user_id and e.transaction_code=d.transaction_code
        left join zyjr_debt_service f on f.user_id=e.user_id and f.transaction_code=e.transaction_code
        left join zyjr_people_guarantee g on g.user_id=f.user_id and g.transaction_code=f.transaction_code
    </select>
</mapper>