<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrFangkuanMapper">
    
    <resultMap type="ZyjrFangkuan" id="ZyjrFangkuanResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="count"    column="count"    />
    </resultMap>

    <sql id="selectZyjrFangkuanVo">
        select id, user_id, transaction_code, count from zyjr_fangkuan
    </sql>

    <select id="selectZyjrFangkuanList" parameterType="ZyjrFangkuan" resultMap="ZyjrFangkuanResult">
        <include refid="selectZyjrFangkuanVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="count != null  and count != ''"> and count = #{count}</if>
        </where>
    </select>
    
    <select id="selectZyjrFangkuanById" parameterType="String" resultMap="ZyjrFangkuanResult">
        <include refid="selectZyjrFangkuanVo"/>
        where transaction_code= #{transactionCode}
    </select>
        
    <insert id="insertZyjrFangkuan" parameterType="ZyjrFangkuan" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_fangkuan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="count != null">count,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="count != null">#{count},</if>
         </trim>
    </insert>

    <update id="updateZyjrFangkuan" parameterType="ZyjrFangkuan">
        update zyjr_fangkuan
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="count != null">count = #{count},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrFangkuanById" parameterType="Long">
        delete from zyjr_fangkuan where id = #{id}
    </delete>

    <delete id="deleteZyjrFangkuanByIds" parameterType="String">
        delete from zyjr_fangkuan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>