<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrGpsMapper">
    
    <resultMap type="ZyjrGps" id="ZyjrGpsResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="zyjrCarId"    column="zyjr_car_id"    />
        <result property="industryWired"    column="Industry_wired"    />
        <result property="industryWireless"    column="Industry_wireless"    />
        <result property="zhengzhouWired"    column="zhengzhou_wired"    />
        <result property="zhengzhouWireless"    column="zhengzhou_wireless"    />
        <result property="linkman"    column="linkman"    />
        <result property="location"    column="location"    />
        <result property="address"    column="address"    />
        <result property="personnel"    column="personnel"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="state"    column="state"    />
    </resultMap>

    <sql id="selectZyjrGpsVo">
        select id, create_by, create_time, update_by, update_time, zyjr_car_id, Industry_wired, Industry_wireless, zhengzhou_wired, zhengzhou_wireless, linkman, location, address, personnel, remark, user_id, transaction_code, state from zyjr_gps
    </sql>

    <select id="selectZyjrGpsList" parameterType="ZyjrGps" resultMap="ZyjrGpsResult">
        <include refid="selectZyjrGpsVo"/>
        <where>  
            <if test="zyjrCarId != null  and zyjrCarId != ''"> and zyjr_car_id = #{zyjrCarId}</if>
            <if test="industryWired != null  and industryWired != ''"> and Industry_wired = #{industryWired}</if>
            <if test="industryWireless != null  and industryWireless != ''"> and Industry_wireless = #{industryWireless}</if>
            <if test="zhengzhouWired != null  and zhengzhouWired != ''"> and zhengzhou_wired = #{zhengzhouWired}</if>
            <if test="zhengzhouWireless != null  and zhengzhouWireless != ''"> and zhengzhou_wireless = #{zhengzhouWireless}</if>
            <if test="linkman != null  and linkman != ''"> and linkman = #{linkman}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="personnel != null  and personnel != ''"> and personnel = #{personnel}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectZyjrGpsById" parameterType="String" resultMap="ZyjrGpsResult">
        <include refid="selectZyjrGpsVo"/>
        where transaction_code = #{id}
    </select>
        
    <insert id="insertZyjrGps" parameterType="ZyjrGps" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_gps
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="zyjrCarId != null">zyjr_car_id,</if>
            <if test="industryWired != null and industryWired != ''">Industry_wired,</if>
            <if test="industryWireless != null and industryWireless != ''">Industry_wireless,</if>
            <if test="zhengzhouWired != null and zhengzhouWired != ''">zhengzhou_wired,</if>
            <if test="zhengzhouWireless != null and zhengzhouWireless != ''">zhengzhou_wireless,</if>
            <if test="linkman != null">linkman,</if>
            <if test="location != null">location,</if>
            <if test="address != null">address,</if>
            <if test="personnel != null">personnel,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="state != null">state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="zyjrCarId != null">#{zyjrCarId},</if>
            <if test="industryWired != null and industryWired != ''">#{industryWired},</if>
            <if test="industryWireless != null and industryWireless != ''">#{industryWireless},</if>
            <if test="zhengzhouWired != null and zhengzhouWired != ''">#{zhengzhouWired},</if>
            <if test="zhengzhouWireless != null and zhengzhouWireless != ''">#{zhengzhouWireless},</if>
            <if test="linkman != null">#{linkman},</if>
            <if test="location != null">#{location},</if>
            <if test="address != null">#{address},</if>
            <if test="personnel != null">#{personnel},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="state != null">#{state},</if>
         </trim>
    </insert>

    <update id="updateZyjrGps" parameterType="ZyjrGps">
        update zyjr_gps
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="zyjrCarId != null">zyjr_car_id = #{zyjrCarId},</if>
            <if test="industryWired != null and industryWired != ''">Industry_wired = #{industryWired},</if>
            <if test="industryWireless != null and industryWireless != ''">Industry_wireless = #{industryWireless},</if>
            <if test="zhengzhouWired != null and zhengzhouWired != ''">zhengzhou_wired = #{zhengzhouWired},</if>
            <if test="zhengzhouWireless != null and zhengzhouWireless != ''">zhengzhou_wireless = #{zhengzhouWireless},</if>
            <if test="linkman != null">linkman = #{linkman},</if>
            <if test="location != null">location = #{location},</if>
            <if test="address != null">address = #{address},</if>
            <if test="personnel != null">personnel = #{personnel},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="state != null">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrGpsById" parameterType="Long">
        delete from zyjr_gps where id = #{id}
    </delete>

    <delete id="deleteZyjrGpsByIds" parameterType="String">
        delete from zyjr_gps where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>