<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrCarLoanMapper">
    
    <resultMap type="ZyjrCarLoan" id="ZyjrCarLoanResult">
        <result property="id"    column="id"    />
        <result property="carType"    column="car_type"    />
        <result property="vinCode"    column="vin_code"    />
        <result property="brand"    column="brand"    />
        <result property="carSeries"    column="car_series"    />
        <result property="carYear"    column="car_year"    />
        <result property="displacement"    column="displacement"    />
        <result property="gear"    column="gear"    />
        <result property="style"    column="style"    />
        <result property="engineCode"    column="engine_code"    />
        <result property="fuelType"    column="fuel_type"    />
        <result property="mileage"    column="mileage"    />
        <result property="startDate"    column="start_date"    />
        <result property="actualPrice"    column="actual_price"    />
        <result property="loanAmount"    column="loan_amount"    />
        <result property="repaymentTerm"    column="repayment_term"    />
        <result property="interestRate"    column="interest_rate"    />
        <result property="deposit"    column="deposit"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="orderState"    column="order_state"    />
        <result property="userId"    column="user_id"    />
        <result property="allowId"    column="allow_id"    />
        <result property="repeatId"    column="repeat_id"    />
        <result property="grantId"    column="grant_id"    />
        <result property="allowBy"    column="allow_by"    />
        <result property="repeatBy"    column="repeat_by"    />
        <result property="grantBy"    column="grant_by"    />
        <result property="sellerName"    column="seller_name"    />
        <result property="sellerId"    column="seller_id"    />
        <result property="sellerCode"    column="seller_code"    />
        <result property="approvalType"    column="approval_type"    />
        <result property="productType"    column="product_type"    />
        <result property="loanProduct"    column="loan_product"    />
    </resultMap>

    <sql id="selectZyjrCarLoanVo">
        select id, car_type, vin_code, brand, car_series, car_year, displacement, gear, style, engine_code, fuel_type,
        mileage, start_date, actual_price, loan_amount, repayment_term, interest_rate, deposit, transaction_code, order_state,
        user_id ,allow_id,repeat_id,grant_id,allow_by,repeat_by,grant_id,seller_name,seller_id,seller_code,approval_type,product_type,loan_product
        from zyjr_car_loan
    </sql>

    <select id="selectZyjrCarLoanList" parameterType="ZyjrCarLoan" resultMap="ZyjrCarLoanResult">
        <include refid="selectZyjrCarLoanVo"/>
        <where>  
            <if test="carType != null "> and car_type = #{carType}</if>
            <if test="vinCode != null  and vinCode != ''"> and vin_code = #{vinCode}</if>
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="carSeries != null  and carSeries != ''"> and car_series = #{carSeries}</if>
            <if test="carYear != null  and carYear != ''"> and car_year = #{carYear}</if>
            <if test="displacement != null  and displacement != ''"> and displacement = #{displacement}</if>
            <if test="gear != null  and gear != ''"> and gear = #{gear}</if>
            <if test="style != null  and style != ''"> and style = #{style}</if>
            <if test="engineCode != null  and engineCode != ''"> and engine_code = #{engineCode}</if>
            <if test="fuelType != null  and fuelType != ''"> and fuel_type = #{fuelType}</if>
            <if test="mileage != null  and mileage != ''"> and mileage = #{mileage}</if>
            <if test="startDate != null  and startDate != ''"> and start_date = #{startDate}</if>
            <if test="actualPrice != null "> and actual_price = #{actualPrice}</if>
            <if test="loanAmount != null "> and loan_amount = #{loanAmount}</if>
            <if test="repaymentTerm != null "> and repayment_term = #{repaymentTerm}</if>
            <if test="interestRate != null "> and interest_rate = #{interestRate}</if>
            <if test="deposit != null "> and deposit = #{deposit}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="orderState != null "> and order_state = #{orderState}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="allowId != null "> and allow_id = #{allowId}</if>
            <if test="repeatId != null "> and repeat_id = #{repeatId}</if>
            <if test="grantId != null "> and grant_id = #{grantId}</if>
            <if test="allowBy != null  and allowBy != ''"> and allow_by = #{allowBy}</if>
            <if test="repeatBy != null  and repeatBy != ''"> and repeat_by = #{repeatBy}</if>
            <if test="grantBy != null  and grantBy != ''"> and grant_by = #{grantBy}</if>
            <if test="sellerName != null and sellerName != ''"> and seller_name = #{sellerName}</if>
            <if test="sellerId != null and sellerId != ''"> and seller_id = #{sellerId}</if>
            <if test="sellerCode != null and sellerCode != ''"> and seller_code = #{sellerCode}</if>
            <if test="approvalType != null  and approvalType != ''"> and approval_type = #{approvalType}</if>
            <if test="productType != null  and productType != ''"> and product_type = #{productType}</if>
            <if test="loanProduct != null  and loanProduct != ''"> and loan_product = #{loanProduct}</if>
        </where>
    </select>
    
    <select id="selectZyjrCarLoanById" resultMap="ZyjrCarLoanResult">
        <include refid="selectZyjrCarLoanVo"/>
        where user_id = #{userId} and transaction_code=#{transactionCode}
    </select>

    <select id="selectHandle" resultMap="ZyjrCarLoanResult">
        <include refid="selectZyjrCarLoanVo"/>
        where transaction_code=#{transactionCode}
    </select>
        
    <insert id="insertZyjrCarLoan" parameterType="ZyjrCarLoan" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_car_loan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carType != null">car_type,</if>
            <if test="vinCode != null">vin_code,</if>
            <if test="brand != null">brand,</if>
            <if test="carSeries != null">car_series,</if>
            <if test="carYear != null">car_year,</if>
            <if test="displacement != null">displacement,</if>
            <if test="gear != null">gear,</if>
            <if test="style != null">style,</if>
            <if test="engineCode != null">engine_code,</if>
            <if test="fuelType != null">fuel_type,</if>
            <if test="mileage != null">mileage,</if>
            <if test="startDate != null">start_date,</if>
            <if test="actualPrice != null">actual_price,</if>
            <if test="loanAmount != null">loan_amount,</if>
            <if test="repaymentTerm != null">repayment_term,</if>
            <if test="interestRate != null">interest_rate,</if>
            <if test="deposit != null">deposit,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="orderState != null">order_state,</if>
            <if test="userId != null">user_id,</if>
            <if test="allowId != null">allow_id,</if>
            <if test="repeatId != null">repeat_id,</if>
            <if test="grantId != null">grant_id,</if>
            <if test="allowBy != null">allow_by,</if>
            <if test="repeatBy != null">repeat_by,</if>
            <if test="grantBy != null">grant_by,</if>
            <if test="sellerName != null">seller_name,</if>
            <if test="sellerId != null">seller_id,</if>
            <if test="sellerCode != null">seller_code,</if>
            <if test="approvalType != null">approval_type,</if>
            <if test="productType != null">product_type,</if>
            <if test="loanProduct != null">loan_product,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carType != null">#{carType},</if>
            <if test="vinCode != null">#{vinCode},</if>
            <if test="brand != null">#{brand},</if>
            <if test="carSeries != null">#{carSeries},</if>
            <if test="carYear != null">#{carYear},</if>
            <if test="displacement != null">#{displacement},</if>
            <if test="gear != null">#{gear},</if>
            <if test="style != null">#{style},</if>
            <if test="engineCode != null">#{engineCode},</if>
            <if test="fuelType != null">#{fuelType},</if>
            <if test="mileage != null">#{mileage},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="actualPrice != null">#{actualPrice},</if>
            <if test="loanAmount != null">#{loanAmount},</if>
            <if test="repaymentTerm != null">#{repaymentTerm},</if>
            <if test="interestRate != null">#{interestRate},</if>
            <if test="deposit != null">#{deposit},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="userId != null">#{userId},</if>
            <if test="allowId != null">#{allowId},</if>
            <if test="repeatId != null">#{repeatId},</if>
            <if test="grantId != null">#{grantId},</if>
            <if test="allowBy != null">#{allowBy},</if>
            <if test="repeatBy != null">#{repeatBy},</if>
            <if test="grantBy != null">#{grantBy},</if>
            <if test="sellerName != null">#{sellerName},</if>
            <if test="sellerId != null">#{sellerId},</if>
            <if test="sellerCode != null">#{sellerCode},</if>
            <if test="approvalType != null">#{approvalType},</if>
            <if test="productType != null">#{productType},</if>
            <if test="loanProduct != null">#{loanProduct},</if>
         </trim>
    </insert>

    <update id="updateZyjrCarLoan" parameterType="ZyjrCarLoan">
        update zyjr_car_loan
        <trim prefix="SET" suffixOverrides=",">
            <if test="carType != null">car_type = #{carType},</if>
            <if test="vinCode != null">vin_code = #{vinCode},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="carSeries != null">car_series = #{carSeries},</if>
            <if test="carYear != null">car_year = #{carYear},</if>
            <if test="displacement != null">displacement = #{displacement},</if>
            <if test="gear != null">gear = #{gear},</if>
            <if test="style != null">style = #{style},</if>
            <if test="engineCode != null">engine_code = #{engineCode},</if>
            <if test="fuelType != null">fuel_type = #{fuelType},</if>
            <if test="mileage != null">mileage = #{mileage},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="actualPrice != null">actual_price = #{actualPrice},</if>
            <if test="loanAmount != null">loan_amount = #{loanAmount},</if>
            <if test="repaymentTerm != null">repayment_term = #{repaymentTerm},</if>
            <if test="interestRate != null">interest_rate = #{interestRate},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="allowId != null">allow_id=#{allowId},</if>
            <if test="repeatId != null">repeat_id=#{repeatId},</if>
            <if test="grantId != null">grant_id=#{grantId},</if>
            <if test="allowBy != null">allow_by=#{allowBy},</if>
            <if test="repeatBy != null">repeat_by=#{repeatBy},</if>
            <if test="grantBy != null">grant_by=#{grantBy},</if>
            <if test="sellerName != null">seller_name=#{sellerName},</if>
            <if test="sellerId != null">seller_id=#{sellerId},</if>
            <if test="sellerCode != null">seller_code=#{sellerCode},</if>
            <if test="approvalType != null">approval_type=#{approvalType},</if>
            <if test="productType != null">product_type=#{productType},</if>
            <if test="loanProduct != null">loan_product=#{loanProduct},</if>
        </trim>
        where user_id = #{userId} and transaction_code=#{transactionCode}
    </update>

    <update id="updateHandle" parameterType="ZyjrCarLoan">
        update zyjr_car_loan
        <trim prefix="SET" suffixOverrides=",">
            <if test="carType != null">car_type = #{carType},</if>
            <if test="vinCode != null">vin_code = #{vinCode},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="carSeries != null">car_series = #{carSeries},</if>
            <if test="carYear != null">car_year = #{carYear},</if>
            <if test="displacement != null">displacement = #{displacement},</if>
            <if test="gear != null">gear = #{gear},</if>
            <if test="style != null">style = #{style},</if>
            <if test="engineCode != null">engine_code = #{engineCode},</if>
            <if test="fuelType != null">fuel_type = #{fuelType},</if>
            <if test="mileage != null">mileage = #{mileage},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="actualPrice != null">actual_price = #{actualPrice},</if>
            <if test="loanAmount != null">loan_amount = #{loanAmount},</if>
            <if test="repaymentTerm != null">repayment_term = #{repaymentTerm},</if>
            <if test="interestRate != null">interest_rate = #{interestRate},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="allowId != null">allow_id=#{allowId},</if>
            <if test="repeatId != null">repeat_id=#{repeatId},</if>
            <if test="grantId != null">grant_id=#{grantId},</if>
            <if test="allowBy != null">allow_by=#{allowBy},</if>
            <if test="repeatBy != null">repeat_by=#{repeatBy},</if>
            <if test="grantBy != null">grant_by=#{grantBy},</if>
            <if test="sellerName != null">seller_name=#{sellerName},</if>
            <if test="sellerId != null">seller_id=#{sellerId},</if>
            <if test="sellerCode != null">seller_code=#{sellerCode},</if>
            <if test="approvalType != null">approval_type=#{approvalType},</if>
            <if test="productType != null">product_type=#{productType},</if>
            <if test="loanProduct != null">loan_product=#{loanProduct},</if>
        </trim>
        where transaction_code=#{transactionCode}
    </update>

    <update id="updateAllow" parameterType="ZyjrCarLoan">
        update zyjr_car_loan
        set allow_id=#{allowId},
        allow_by=#{allowBy}
        where transaction_code=#{transactionCode}
    </update>

    <update id="updateRepeat" parameterType="ZyjrCarLoan">
        update zyjr_car_loan
        set repeat_id=#{repeatId},
        repeat_by=#{repeatBy}
        where transaction_code=#{transactionCode}
    </update>

    <update id="updateGrant" parameterType="ZyjrCarLoan">
        update zyjr_car_loan
        set grant_id=#{grantId},
        grant_by=#{grantBy}
        where transaction_code=#{transactionCode}
    </update>

    <delete id="deleteZyjrCarLoanById" parameterType="Long">
        delete from zyjr_car_loan where id = #{id}
    </delete>

    <delete id="deleteZyjrCarLoanByIds" parameterType="String">
        delete from zyjr_car_loan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>