<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrBankProductMapper">
    
    <resultMap type="ZyjrBankProduct" id="ZyjrBankProductResult">
        <result property="id"    column="id"    />

        <result property="bankId"    column="bank_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productCode"    column="product_code"    />
        <result property="productBrand"    column="product_brand"    />
        <result property="productRemark"    column="product_remark"    />
        <result property="carType"    column="car_type"    />
        <result property="businessArea"    column="business_area"    />
    </resultMap>

    <sql id="selectZyjrBankProductVo">
        select id,  bank_id, product_name, product_code, product_brand, product_remark, car_type, business_area from zyjr_bank_product
    </sql>

    <select id="selectZyjrBankProductList" parameterType="ZyjrBankProduct" resultMap="ZyjrBankProductResult">
        <include refid="selectZyjrBankProductVo"/>
        <where>  
            <if test="bankId != null  and bankId != ''"> and bank_id = #{bankId}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productBrand != null  and productBrand != ''"> and product_brand = #{productBrand}</if>
            <if test="productRemark != null  and productRemark != ''"> and product_remark = #{productRemark}</if>
            <if test="carType != null  and carType != ''"> and car_type = #{carType}</if>
            <if test="businessArea != null  and businessArea != ''"> and business_area = #{businessArea}</if>
        </where>
    </select>
    
    <select id="selectZyjrBankProductById" parameterType="Long" resultMap="ZyjrBankProductResult">
        <include refid="selectZyjrBankProductVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZyjrBankProduct" parameterType="ZyjrBankProduct" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_bank_product
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="bankId != null">bank_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="productCode != null">product_code,</if>
            <if test="productBrand != null">product_brand,</if>
            <if test="productRemark != null">product_remark,</if>
            <if test="carType != null">car_type,</if>
            <if test="businessArea != null">business_area,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="bankId != null">#{bankId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="productBrand != null">#{productBrand},</if>
            <if test="productRemark != null">#{productRemark},</if>
            <if test="carType != null">#{carType},</if>
            <if test="businessArea != null">#{businessArea},</if>
         </trim>
    </insert>

    <update id="updateZyjrBankProduct" parameterType="ZyjrBankProduct">
        update zyjr_bank_product
        <trim prefix="SET" suffixOverrides=",">

            <if test="bankId != null">bank_id = #{bankId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="productBrand != null">product_brand = #{productBrand},</if>
            <if test="productRemark != null">product_remark = #{productRemark},</if>
            <if test="carType != null">car_type = #{carType},</if>
            <if test="businessArea != null">business_area = #{businessArea},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrBankProductById" parameterType="Long">
        delete from zyjr_bank_product where id = #{id}
    </delete>

    <delete id="deleteZyjrBankProductByIds" parameterType="String">
        delete from zyjr_bank_product where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>