<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrGrantInstalmentsMapper">
    
    <resultMap type="ZyjrGrantInstalments" id="ZyjrGrantInstalmentsResult">
        <result property="id"    column="id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectZyjrGrantInstalmentsVo">
        select id, transaction_code, user_id from zyjr_grant_instalments
    </sql>

    <select id="selectZyjrGrantInstalmentsList" parameterType="ZyjrGrantInstalments" resultMap="ZyjrGrantInstalmentsResult">
        <include refid="selectZyjrGrantInstalmentsVo"/>
        <where>  
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectZyjrGrantInstalmentsById" parameterType="Long" resultMap="ZyjrGrantInstalmentsResult">
        <include refid="selectZyjrGrantInstalmentsVo"/>
        where transaction_code = #{transactionCode}
    </select>
        
    <insert id="insertZyjrGrantInstalments" parameterType="ZyjrGrantInstalments" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_grant_instalments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="transactionCode != null">transaction_code,</if>
            <if test="userId != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="userId != null">#{userId},</if>
         </trim>
    </insert>

    <update id="updateZyjrGrantInstalments" parameterType="ZyjrGrantInstalments">
        update zyjr_grant_instalments
        <trim prefix="SET" suffixOverrides=",">
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrGrantInstalmentsById" parameterType="Long">
        delete from zyjr_grant_instalments where id = #{id}
    </delete>

    <delete id="deleteZyjrGrantInstalmentsByIds" parameterType="String">
        delete from zyjr_grant_instalments where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>