<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrDaiqianAccoutMapper">
    
    <resultMap type="ZyjrDaiqianAccout" id="ZyjrDaiqianAccoutResult">
        <result property="id"    column="id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="state"    column="state"    />
        <result property="type"    column="type"    />
        <result property="accountId"    column="account_id"    />
        <result property="accountOne"    column="account_one"    />
        <result property="fangkuan"    column="fangkuan"    />
        <result property="bazaar"    column="bazaar"    />
        <result property="carid"    column="carid"    />
        <result property="carname"    column="carname"    />
        <result property="shenpitype"    column="shenpitype"    />
        <result property="chanpintype"    column="chanpintype"    />
        <result property="daikuanchanpin"    column="daikuanchanpin"    />
    </resultMap>

    <sql id="selectZyjrDaiqianAccoutVo">
        select id,type,fangkuan,bazaar,carid,carname,shenpitype,daikuanchanpin,chanpintype, transaction_code, state, account_id, account_one from zyjr_daiqian_accout
    </sql>

    <select id="selectZyjrDaiqianAccoutList" parameterType="ZyjrDaiqianAccout" resultMap="ZyjrDaiqianAccoutResult">
        <include refid="selectZyjrDaiqianAccoutVo"/>
        <where>  
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="accountId != null  and accountId != ''"> and account_id = #{accountId}</if>
            <if test="accountOne != null  and accountOne != ''"> and account_one = #{accountOne}</if>
            <if test="fangkuan != null  and fangkuan != ''"> and fangkuan = #{fangkuan}</if>
            <if test="bazaar != null  and bazaar != ''"> and bazaar = #{bazaar}</if>
            <if test="carid != null  and carid != ''"> and carid = #{carid}</if>
            <if test="carname != null  and carname != ''"> and carname = #{carname}</if>
            <if test="shenpitype != null  and shenpitype != ''"> and shenpitype = #{shenpitype}</if>
            <if test="chanpintype != null  and chanpintype != ''"> and chanpintype = #{chanpintype}</if>
            <if test="daikuanchanpin != null  and daikuanchanpin != ''"> and daikuanchanpin = #{daikuanchanpin}</if>
        </where>
    </select>
    
    <select id="selectZyjrDaiqianAccoutById" parameterType="Long" resultMap="ZyjrDaiqianAccoutResult">
        <include refid="selectZyjrDaiqianAccoutVo"/>
        where id = #{id}
    </select>

    <select id="selectById" parameterType="String" resultMap="ZyjrDaiqianAccoutResult">
        <include refid="selectZyjrDaiqianAccoutVo"/>
        where transaction_code = #{transactionCode}
    </select>
        
    <insert id="insertZyjrDaiqianAccout" parameterType="ZyjrDaiqianAccout" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_daiqian_accout
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="transactionCode != null">transaction_code,</if>
            <if test="state != null">state,</if>
            <if test="type != null">type,</if>
            <if test="accountId != null">account_id,</if>
            <if test="accountOne != null">account_one,</if>
            <if test="fangkuan != null">fangkuan,</if>
            <if test="bazaar != null">bazaar,</if>
            <if test="carid != null">carid,</if>
            <if test="carname != null">carname,</if>
            <if test="shenpitype != null">shenpitype,</if>
            <if test="chanpintype != null">chanpintype,</if>
            <if test="daikuanchanpin != null">daikuanchanpin,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="state != null">#{state},</if>
            <if test="type != null">#{type},</if>
            <if test="accountId != null">#{accountId},</if>
            <if test="accountOne != null">#{accountOne},</if>
            <if test="fangkuan != null">#{fangkuan},</if>
            <if test="bazaar != null">#{bazaar},</if>
            <if test="carid != null">#{carid},</if>
            <if test="carname != null">#{carname},</if>
            <if test="shenpitype != null">#{shenpitype},</if>
            <if test="chanpintype != null">#{chanpintype},</if>
            <if test="daikuanchanpin != null">#{daikuanchanpin},</if>
         </trim>
    </insert>

    <update id="updateZyjrDaiqianAccout" parameterType="ZyjrDaiqianAccout">
        update zyjr_daiqian_accout
        <trim prefix="SET" suffixOverrides=",">
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="state != null">state = #{state},</if>
            <if test="type != null">type = #{type},</if>
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="accountOne != null">account_one = #{accountOne},</if>
            <if test="fangkuan != null">fangkuan = #{fangkuan},</if>
            <if test="bazaar != null">bazaar = #{bazaar},</if>
            <if test="carid != null">carid = #{carid},</if>
            <if test="carname != null">carname = #{carname},</if>
            <if test="shenpitype != null">shenpitype = #{shenpitype},</if>
            <if test="chanpintype != null">chanpintype = #{chanpintype},</if>
            <if test="daikuanchanpin != null">daikuanchanpin = #{daikuanchanpin},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrDaiqianAccoutById" parameterType="Long">
        delete from zyjr_daiqian_accout where id = #{id}
    </delete>

    <delete id="deleteZyjrDaiqianAccoutByIds" parameterType="String">
        delete from zyjr_daiqian_accout where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>