<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrDaihouQitaMapper">
    
    <resultMap type="ZyjrDaihouQita" id="ZyjrDaihouQitaResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="daihou"    column="daihou"    />
    </resultMap>

    <sql id="selectZyjrDaihouQitaVo">
        select id, file_name, file_path, daihou from zyjr_daihou_qita
    </sql>

    <select id="selectZyjrDaihouQitaList" parameterType="ZyjrDaihouQita" resultMap="ZyjrDaihouQitaResult">
        <include refid="selectZyjrDaihouQitaVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="daihou != null  and daihou != ''"> and daihou = #{daihou}</if>
        </where>
    </select>
    
    <select id="selectZyjrDaihouQitaById" parameterType="Long" resultMap="ZyjrDaihouQitaResult">
        <include refid="selectZyjrDaihouQitaVo"/>
        where daihou = #{id}
    </select>
        
    <insert id="insertZyjrDaihouQita" parameterType="ZyjrDaihouQita" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_daihou_qita
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="daihou != null">daihou,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="daihou != null">#{daihou},</if>
         </trim>
    </insert>

    <update id="updateZyjrDaihouQita" parameterType="ZyjrDaihouQita">
        update zyjr_daihou_qita
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="daihou != null">daihou = #{daihou},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrDaihouQitaById" parameterType="Long">
        delete from zyjr_daihou_qita where id = #{id}
    </delete>

    <delete id="deleteZyjrDaihouQitaByIds" parameterType="String">
        delete from zyjr_daihou_qita where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>