<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrAllowBasicsMapper">
    
    <resultMap type="ZyjrAllowBasics" id="ZyjrAllowBasicsResult">
        <result property="id"    column="id"    />
        <result property="approvalType"    column="approval_type"    />
        <result property="dealersId"    column="dealers_id"    />
        <result property="dealerStores"    column="dealer_stores"    />
        <result property="plateType"    column="plate_type"    />
        <result property="market"    column="market"    />
        <result property="store"    column="store"    />
        <result property="operate"    column="operate"    />
        <result property="moreInfo"    column="more_info"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="orderState"    column="order_state"    />
        <result property="daiqian.userName"    column="user_name"    />
        <result property="daiqian.carType"    column="car_type"    />
        <result property="productType"    column="product_type"    />
        <result property="loanProduct"    column="loan_product"    />
    </resultMap>
    <resultMap type="com.jeethink.system.domain.ZyjrDaiqian" id="ZyjrAllowBasicsResult2">
        <result property="id"    column="id"    />
        <result property="state"    column="state"    />
        <result property="opinion"    column="opinion"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="userName"    column="user_name"    />
        <result property="carType"    column="car_type"    />
        <result property="team"    column="team"    />
        <result property="loanAmount"    column="loan_amount"    />
        <result property="repaymentTerm"    column="repayment_term"    />
        <result property="actualPrice"    column="actual_price"    />
        <result property="dealersId"    column="dealers_id"    />
    </resultMap>


    <sql id="selectZyjrAllowBasicsVo">
        select id, approval_type, dealers_id, dealer_stores, plate_type, market, store, operate, more_info, user_id, transaction_code, order_state，loan_product,product_type from zyjr_allow_basics
    </sql>

    <select id="selectZyjrAllowBasicsList" parameterType="ZyjrAllowBasics" resultMap="ZyjrAllowBasicsResult">
        <include refid="selectZyjrAllowBasicsVo"/>
        <where>  
            <if test="dealerStores != null  and dealerStores != ''"> and dealer_stores = #{dealerStores}</if>
            <if test="plateType != null "> and plate_type = #{plateType}</if>
            <if test="market != null  and market != ''"> and market = #{market}</if>
            <if test="store != null  and store != ''"> and store = #{store}</if>
            <if test="operate != null  and operate != ''"> and operate = #{operate}</if>
            <if test="moreInfo != null  and moreInfo != ''"> and more_info = #{moreInfo}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="orderState != null "> and order_state = #{orderState}</if>
            <if test="productType != null "> and product_type = #{productType}</if>
            <if test="loanProduct != null "> and loan_product = #{loanProduct}</if>
        </where>
    </select>

    
    <select id="selectZyjrAllowBasicsById" resultMap="ZyjrAllowBasicsResult">
        <include refid="selectZyjrAllowBasicsVo"/>
        where user_id=#{userId} and transaction_code=#{transactionCode}
    </select>
    <select id="selectById" resultMap="ZyjrAllowBasicsResult">
        <include refid="selectZyjrAllowBasicsVo"/>
        where id=#{id}
    </select>

    <select id="selectByT" parameterType="com.jeethink.system.domain.ZyjrDaiqian" resultMap="ZyjrAllowBasicsResult2">
        select a.transaction_code,a.dealers_id,c.id
        from zyjr_allow_basics a
        left join zyjr_daiqian b on a.transaction_code=b.transaction_code
        left join zyjr_car c on a.dealers_id=c.id
        where a.transaction_code=#{transactionCode}
    </select>
        
    <insert id="insertZyjrAllowBasics" parameterType="ZyjrAllowBasics" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_allow_basics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="approvalType != null">approval_type,</if>
            <if test="dealersId != null">dealers_id,</if>
            <if test="dealerStores != null">dealer_stores,</if>
            <if test="plateType != null">plate_type,</if>
            <if test="market != null">market,</if>
            <if test="store != null">store,</if>
            <if test="operate != null">operate,</if>
            <if test="moreInfo != null">more_info,</if>
            <if test="userId != null">user_id,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="orderState != null">order_state,</if>
            <if test="productType != null">product_type,</if>
            <if test="loanProduct != null">loan_product,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="approvalType != null">#{approvalType},</if>
            <if test="dealersId != null">#{dealersId},</if>
            <if test="dealerStores != null">#{dealerStores},</if>
            <if test="plateType != null">#{plateType},</if>
            <if test="market != null">#{market},</if>
            <if test="store != null">#{store},</if>
            <if test="operate != null">#{operate},</if>
            <if test="moreInfo != null">#{moreInfo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="productType != null">#{productType},</if>
            <if test="loanProduct != null">#{loanProduct},</if>
         </trim>
    </insert>

    <update id="updateZyjrAllowBasics" parameterType="ZyjrAllowBasics">
        update zyjr_allow_basics
        <trim prefix="SET" suffixOverrides=",">
            <if test="approvalType != null">approval_type = #{approvalType},</if>
            <if test="dealersId != null">dealers_id = #{dealersId},</if>
            <if test="dealerStores != null">dealer_stores = #{dealerStores},</if>
            <if test="plateType != null">plate_type = #{plateType},</if>
            <if test="market != null">market = #{market},</if>
            <if test="store != null">store = #{store},</if>
            <if test="operate != null">operate = #{operate},</if>
            <if test="moreInfo != null">more_info = #{moreInfo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="loanProduct != null">loan_product = #{loanProduct},</if>
        </trim>
        where user_id=#{userId} and transaction_code=#{transactionCode}
    </update>

    <delete id="deleteZyjrAllowBasicsById" parameterType="Long">
        delete from zyjr_allow_basics where id = #{id}
    </delete>

    <delete id="deleteZyjrAllowBasicsByIds" parameterType="String">
        delete from zyjr_allow_basics where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>