<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrBorrowerMapper">
    
    <resultMap type="ZyjrBorrower" id="ZyjrBorrowerResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="idCard"    column="id_card"    />
        <result property="bankCardNo"    column="bank_card_no"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="issueAuthority"    column="issue_authority"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="familyAddress"    column="family_address"    />
        <result property="obverseId"    column="obverse_id"    />
        <result property="obverseCode"    column="obverse_code"    />
        <result property="obverseAddress"    column="obverse_address"    />
        <result property="obverseName"    column="obverse_name"    />
        <result property="backId"    column="back_id"    />
        <result property="backCode"    column="back_code"    />
        <result property="backAddress"    column="back_address"    />
        <result property="backName"    column="back_name"    />
        <result property="powerId"    column="power_id"    />
        <result property="powerCode"    column="power_code"    />
        <result property="powerAddress"    column="power_address"    />
        <result property="powerName"    column="power_name"    />
        <result property="creditPower"    column="credit_power"    />
        <result property="userId"    column="user_id"    />
        <result property="orderState"    column="order_state"    />
        <result property="createBy"    column="create_by"    />
        <result property="nation"    column="nation"    />
        <result property="updateBy"    column="update_by"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="contractState"    column="contract_state"    />
        <result property="privateCode"    column="private_code"    />
        <result property="encryptData"    column="encrypt_data"    />
        <result property="conf"    column="conf"    />
        <result property="mianqian"    column="mianqian"    />
        <result property="mianqiandata"    column="mianqiandata"    />
        <result property="gender"    column="gender"    />
    </resultMap>

    <sql id="selectZyjrBorrowerVo">
        select id,contract_state,nation,mianqian,mianqiandata, user_name,encrypt_data,conf, id_card,private_code, bank_card_no,
         phone_number, issue_authority, start_date, end_date, family_address, obverse_id, obverse_code, obverse_address, obverse_name,
          back_id, back_code, back_address, back_name, power_id, power_code, power_address, power_name, credit_power, user_id, order_state,
           create_by, update_by, transaction_code ,gender
           from zyjr_borrower
    </sql>

    <select id="selectZyjrBorrowerList" parameterType="ZyjrBorrower" resultMap="ZyjrBorrowerResult">
        <include refid="selectZyjrBorrowerVo"/>
        <where>
            order_state = 1
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="bankCardNo != null  and bankCardNo != ''"> and bank_card_no = #{bankCardNo}</if>
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number = #{phoneNumber}</if>
            <if test="issueAuthority != null  and issueAuthority != ''"> and issue_authority = #{issueAuthority}</if>
            <if test="startDate != null  and startDate != ''"> and start_date = #{startDate}</if>
            <if test="endDate != null  and endDate != ''"> and end_date = #{endDate}</if>
            <if test="familyAddress != null  and familyAddress != ''"> and family_address = #{familyAddress}</if>
            <if test="obverseId != null "> and obverse_id = #{obverseId}</if>
            <if test="obverseCode != null  and obverseCode != ''"> and obverse_code = #{obverseCode}</if>
            <if test="obverseAddress != null  and obverseAddress != ''"> and obverse_address = #{obverseAddress}</if>
            <if test="obverseName != null  and obverseName != ''"> and obverse_name like concat('%', #{obverseName}, '%')</if>
            <if test="backId != null "> and back_id = #{backId}</if>
            <if test="backCode != null  and backCode != ''"> and back_code = #{backCode}</if>
            <if test="backAddress != null  and backAddress != ''"> and back_address = #{backAddress}</if>
            <if test="backName != null  and backName != ''"> and back_name like concat('%', #{backName}, '%')</if>
            <if test="powerId != null "> and power_id = #{powerId}</if>
            <if test="powerCode != null  and powerCode != ''"> and power_code = #{powerCode}</if>
            <if test="powerAddress != null  and powerAddress != ''"> and power_address = #{powerAddress}</if>
            <if test="powerName != null  and powerName != ''"> and power_name like concat('%', #{powerName}, '%')</if>
            <if test="creditPower != null "> and credit_power = #{creditPower}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="conf != null  and conf != ''"> and conf = #{conf}</if>
            <if test="encryptData != null  and encryptData != ''"> and encrypt_data = #{encryptData}</if>
            <if test="nation != null  and nation != ''"> and nation = #{nation}</if>
            <if test="mianqian != null  and mianqian != ''"> and mianqian = #{mianqian}</if>
            <if test="mianqiandata != null  and mianqiandata != ''"> and mianqiandata = #{mianqiandata}</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
        </where>
    </select>
    
    <select id="selectZyjrBorrowerById" parameterType="Integer" resultMap="ZyjrBorrowerResult">
        <include refid="selectZyjrBorrowerVo"/>
        where id = #{id}
    </select>
    
    <select id="selectById" parameterType="String" resultMap="ZyjrBorrowerResult">
        <include refid="selectZyjrBorrowerVo"/>
        where transaction_code = #{identityId}
    </select>
        
    <insert id="insertZyjrBorrower" parameterType="ZyjrBorrower" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_borrower
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="idCard != null">id_card,</if>
            <if test="bankCardNo != null">bank_card_no,</if>
            <if test="phoneNumber != null">phone_number,</if>
            <if test="issueAuthority != null">issue_authority,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="familyAddress != null">family_address,</if>
            <if test="obverseId != null">obverse_id,</if>
            <if test="obverseCode != null">obverse_code,</if>
            <if test="obverseAddress != null">obverse_address,</if>
            <if test="obverseName != null">obverse_name,</if>
            <if test="backId != null">back_id,</if>
            <if test="backCode != null">back_code,</if>
            <if test="backAddress != null">back_address,</if>
            <if test="backName != null">back_name,</if>
            <if test="powerId != null">power_id,</if>
            <if test="powerCode != null">power_code,</if>
            <if test="powerAddress != null">power_address,</if>
            <if test="powerName != null">power_name,</if>
            <if test="creditPower != null">credit_power,</if>
            <if test="userId != null">user_id,</if>
            <if test="orderState != null">order_state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="electronicState != null">electronic_state,</if>
            <if test="electrpnicAddress != null">electrpnic_address,</if>
            <if test="contractState != null">contract_state,</if>
            <if test="privateCode != null">private_code,</if>
            <if test="nation != null">nation,</if>
            <if test="mianqian != null">mianqian,</if>
            <if test="mianqiandata != null">mianqiandata,</if>
            <if test="gender != null">gender,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="bankCardNo != null">#{bankCardNo},</if>
            <if test="phoneNumber != null">#{phoneNumber},</if>
            <if test="issueAuthority != null">#{issueAuthority},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="familyAddress != null">#{familyAddress},</if>
            <if test="obverseId != null">#{obverseId},</if>
            <if test="obverseCode != null">#{obverseCode},</if>
            <if test="obverseAddress != null">#{obverseAddress},</if>
            <if test="obverseName != null">#{obverseName},</if>
            <if test="backId != null">#{backId},</if>
            <if test="backCode != null">#{backCode},</if>
            <if test="backAddress != null">#{backAddress},</if>
            <if test="backName != null">#{backName},</if>
            <if test="powerId != null">#{powerId},</if>
            <if test="powerCode != null">#{powerCode},</if>
            <if test="powerAddress != null">#{powerAddress},</if>
            <if test="powerName != null">#{powerName},</if>
            <if test="creditPower != null">#{creditPower},</if>
            <if test="userId != null">#{userId},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="electronicState != null">#{electronicState},</if>
            <if test="electrpnicAddress != null">#{electrpnicAddress},</if>
            <if test="contractState != null">#{contractState},</if>
            <if test="privateCode != null">#{privateCode},</if>
            <if test="nation != null">#{nation},</if>
            <if test="mianqian != null">#{mianqian},</if>
            <if test="mianqiandata != null">#{mianqiandata},</if>
            <if test="gender != null">#{gender},</if>
         </trim>
    </insert>

    <update id="updateZyjrBorrower" parameterType="ZyjrBorrower">
        update zyjr_borrower
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="bankCardNo != null">bank_card_no = #{bankCardNo},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="issueAuthority != null">issue_authority = #{issueAuthority},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="familyAddress != null">family_address = #{familyAddress},</if>
            <if test="obverseId != null">obverse_id = #{obverseId},</if>
            <if test="obverseCode != null">obverse_code = #{obverseCode},</if>
            <if test="obverseAddress != null">obverse_address = #{obverseAddress},</if>
            <if test="obverseName != null">obverse_name = #{obverseName},</if>
            <if test="backId != null">back_id = #{backId},</if>
            <if test="backCode != null">back_code = #{backCode},</if>
            <if test="backAddress != null">back_address = #{backAddress},</if>
            <if test="backName != null">back_name = #{backName},</if>
            <if test="powerId != null">power_id = #{powerId},</if>
            <if test="powerCode != null">power_code = #{powerCode},</if>
            <if test="powerAddress != null">power_address = #{powerAddress},</if>
            <if test="powerName != null">power_name = #{powerName},</if>
            <if test="creditPower != null">credit_power = #{creditPower},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="transactionCode != null">transaction_code=#{transactionCode},</if>
            <if test="electronicState != null">electronic_state=#{electronicState},</if>
            <if test="electrpnicAddress != null">electrpnic_address=#{electrpnicAddress},</if>
            <if test="contractState != null">contract_state=#{contractState},</if>
            <if test="privateCode != null">private_code=#{privateCode},</if>
            <if test="encryptData != null">encrypt_data=#{encryptData},</if>
            <if test="conf != null">conf=#{conf},</if>
            <if test="nation != null">nation=#{nation},</if>
            <if test="mianqian != null">mianqian=#{mianqian},</if>
            <if test="mianqiandata != null">mianqiandata=#{mianqiandata},</if>
            <if test="gender != null">gender=#{gender},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrBorrowerById" parameterType="Integer">
        delete from zyjr_borrower where id = #{id}
    </delete>

    <delete id="deleteZyjrBorrowerByIds" parameterType="String">
        delete from zyjr_borrower where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>