<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrPhotoCarMapper">
    
    <resultMap type="ZyjrPhotoCar" id="ZyjrPhotoCarResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="orderState"    column="order_state"    />
        <result property="carSize"    column="car_size"    />
    </resultMap>

    <sql id="selectZyjrPhotoCarVo">
        select id, user_id, transaction_code, order_state,car_size from zyjr_photo_car
    </sql>

    <select id="selectZyjrPhotoCarList" parameterType="ZyjrPhotoCar" resultMap="ZyjrPhotoCarResult">
        <include refid="selectZyjrPhotoCarVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="orderState != null "> and order_state = #{orderState}</if>
            <if test="carSize != null  and carSize != ''"> and car_size = #{carSize}</if>
        </where>
    </select>
    
    <select id="selectZyjrPhotoCarById" resultMap="ZyjrPhotoCarResult">
        <include refid="selectZyjrPhotoCarVo"/>
        where user_id=#{userId} and transaction_code=#{transactionCode}
    </select>
    <select id="selectByT" resultMap="ZyjrPhotoCarResult">
        <include refid="selectZyjrPhotoCarVo"/>
        where  transaction_code=#{transactionCode}
    </select>
        
    <insert id="insertZyjrPhotoCar" parameterType="ZyjrPhotoCar" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_photo_car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="orderState != null">order_state,</if>
            <if test="carSize != null">car_size,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="carSize != null">#{carSize},</if>
         </trim>
    </insert>

    <update id="updateZyjrPhotoCar" parameterType="ZyjrPhotoCar">
        update zyjr_photo_car
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="carSize != null">car_size = #{carSize},</if>
        </trim>
        where transaction_code=#{transactionCode}
    </update>

    <delete id="deleteZyjrPhotoCarById" parameterType="Long">
        delete from zyjr_photo_car where id = #{id}
    </delete>

    <delete id="deleteZyjrPhotoCarByIds" parameterType="String">
        delete from zyjr_photo_car where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>