<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrYejiYueMapper">
    
    <resultMap type="ZyjrYejiYue" id="ZyjrYejiYueResult">
        <result property="team"    column="team"    />
        <result property="area"    column="area"    />
        <result property="mubiao"    column="mubiao"    />
        <result property="number"    column="number"    />
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectZyjrYejiYueVo">
        select team, area, mubiao, number, id, create_by, create_time, update_by, update_time from zyjr_yeji_yue
    </sql>

    <select id="selectZyjrYejiYueList" parameterType="ZyjrYejiYue" resultMap="ZyjrYejiYueResult">
        <include refid="selectZyjrYejiYueVo"/>
        <where>  
            <if test="team != null  and team != ''"> and team = #{team}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="mubiao != null  and mubiao != ''"> and mubiao = #{mubiao}</if>
            <if test="number != null "> and number = #{number}</if>
        </where>
    </select>
    
    <select id="selectZyjrYejiYueById" parameterType="Long" resultMap="ZyjrYejiYueResult">
        <include refid="selectZyjrYejiYueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZyjrYejiYue" parameterType="ZyjrYejiYue" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_yeji_yue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="team != null">team,</if>
            <if test="area != null">area,</if>
            <if test="mubiao != null">mubiao,</if>
            <if test="number != null">number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="team != null">#{team},</if>
            <if test="area != null">#{area},</if>
            <if test="mubiao != null">#{mubiao},</if>
            <if test="number != null">#{number},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateZyjrYejiYue" parameterType="ZyjrYejiYue">
        update zyjr_yeji_yue
        <trim prefix="SET" suffixOverrides=",">
            <if test="team != null">team = #{team},</if>
            <if test="area != null">area = #{area},</if>
            <if test="mubiao != null">mubiao = #{mubiao},</if>
            <if test="number != null">number = #{number},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrYejiYueById" parameterType="Long">
        delete from zyjr_yeji_yue where id = #{id}
    </delete>

    <delete id="deleteZyjrYejiYueByIds" parameterType="String">
        delete from zyjr_yeji_yue where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>