<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrDaihouMapper">
    
    <resultMap type="ZyjrDaihou" id="ZyjrDaihouResult">
        <result property="id"    column="id"    />
        <result property="state"    column="state"    />
        <result property="opinion"    column="opinion"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="zhengshu"    column="zhengshu"    />
        <result property="baoxian"    column="baoxian"    />
        <result property="qita"    column="qita"    />
        <result property="lvben"    column="lvben"    />
        <result property="tiche"    column="tiche"    />
        <result property="operator"    column="operator"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectZyjrDaihouVo">
        select id, state, opinion,operator, user_id, transaction_code, zhengshu, baoxian, qita, lvben, tiche from zyjr_daihou
    </sql>

    <select id="selectZyjrDaihouList" parameterType="ZyjrDaihou" resultMap="ZyjrDaihouResult">
        select b.zhengshu,b.tijiao,b.qita,b.lvben,b.tiche,b.baoxian,b.id,g.create_time,b.state, b.opinion,b.operator, b.user_id, a.transaction_code, c.user_name,d.car_type,d.team,f.loan_amount,f.repayment_term,f.actual_price,d.car_information
        from zyjr_daiqian a
        left join zyjr_daihou b on a.transaction_code=b.transaction_code
        left join zyjr_borrower c on a.transaction_code=c.transaction_code
        left join zyjr_business d on a.transaction_code=d.transaction_code
        left join zyjr_car_loan f on a.transaction_code=f.transaction_code
        left join zyjr_start_page g on a.transaction_code=g.transaction_code
        where a.state="1" and (b.state!="1" or b.state is null) order by g.create_time desc
    </select>
    
    <select id="selectZyjrDaihouById" parameterType="Long" resultMap="ZyjrDaihouResult">
        <include refid="selectZyjrDaihouVo"/>
        where id = #{id}
    </select>
    <select id="selectZyjrDaihouByT" parameterType="String" resultMap="ZyjrDaihouResult">
        <include refid="selectZyjrDaihouVo"/>
        where transaction_code = #{id}
    </select>
        
    <insert id="insertZyjrDaihou" parameterType="ZyjrDaihou" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_daihou
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="state != null">state,</if>
            <if test="opinion != null">opinion,</if>
            <if test="userId != null">user_id,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="zhengshu != null">zhengshu,</if>
            <if test="baoxian != null">baoxian,</if>
            <if test="qita != null">qita,</if>
            <if test="lvben != null">lvben,</if>
            <if test="tiche != null">tiche,</if>
            <if test="operator != null">operator,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="state != null">#{state},</if>
            <if test="opinion != null">#{opinion},</if>
            <if test="userId != null">#{userId},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="zhengshu != null">#{zhengshu},</if>
            <if test="baoxian != null">#{baoxian},</if>
            <if test="qita != null">#{qita},</if>
            <if test="lvben != null">#{lvben},</if>
            <if test="tiche != null">#{tiche},</if>
            <if test="operator != null">#{operator},</if>
         </trim>
    </insert>

    <update id="updateZyjrDaihou" parameterType="ZyjrDaihou">
        update zyjr_daihou
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state = #{state},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="zhengshu != null">zhengshu = #{zhengshu},</if>
            <if test="baoxian != null">baoxian = #{baoxian},</if>
            <if test="qita != null">qita = #{qita},</if>
            <if test="lvben != null">lvben = #{lvben},</if>
            <if test="tiche != null">tiche = #{tiche},</if>
            <if test="tijiao != null">tijiao = #{tijiao},</if>
            <if test="operator != null">tiche = #{operator},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateZyjrDaihou2" parameterType="ZyjrDaihou">
        update zyjr_daihou
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null">state = #{state},</if>
            <if test="opinion != null">opinion = #{opinion},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="zhengshu != null">zhengshu = #{zhengshu},</if>
            <if test="baoxian != null">baoxian = #{baoxian},</if>
            <if test="qita != null">qita = #{qita},</if>
            <if test="lvben != null">lvben = #{lvben},</if>
            <if test="tiche != null">tiche = #{tiche},</if>
            <if test="tijiao != null">tijiao = #{tijiao},</if>
            <if test="operator != null">tiche = #{operator},</if>
        </trim>
        where transaction_code = #{transactionCode}
    </update>

    <update id="updateZyjrDaihous" parameterType="ZyjrDaihou">
        update zyjr_daihou
      set  user_id=#{userId},operator=#{operator}
        where id = #{id}
    </update>

    <delete id="deleteZyjrDaihouById" parameterType="Long">
        delete from zyjr_daihou where id = #{id}
    </delete>

    <delete id="deleteZyjrDaihouByIds" parameterType="String">
        delete from zyjr_daihou where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>