<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrPhotoLenderMapper">
    
    <resultMap type="ZyjrPhotoLender" id="ZyjrPhotoLenderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="orderState"    column="order_state"    />
        <result property="mainSize"    column="main_size"    />
    </resultMap>

    <sql id="selectZyjrPhotoLenderVo">
        select id, user_id, transaction_code, order_state,main_size from zyjr_photo_lender
    </sql>

    <select id="selectZyjrPhotoLenderList" parameterType="ZyjrPhotoLender" resultMap="ZyjrPhotoLenderResult">
        <include refid="selectZyjrPhotoLenderVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>
            <if test="orderState != null "> and order_state = #{orderState}</if>
            <if test="mainSize != null "> and main_size = #{mainSize}</if>
        </where>
    </select>
    
    <select id="selectZyjrPhotoLenderById" resultMap="ZyjrPhotoLenderResult">
        <include refid="selectZyjrPhotoLenderVo"/>
        where user_id=#{userId} and transaction_code=#{transactionCode}
    </select>
        
    <insert id="insertZyjrPhotoLender" parameterType="ZyjrPhotoLender" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_photo_lender
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="orderState != null">order_state,</if>
            <if test="mainSize != null">main_size,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="mainSize != null">#{mainSize},</if>
         </trim>
    </insert>

    <update id="updateZyjrPhotoLender" parameterType="ZyjrPhotoLender">
        update zyjr_photo_lender
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="mainSize != null">main_size = #{mainSize},</if>
        </trim>
        where transaction_code = #{transactionCode}
    </update>

    <delete id="deleteZyjrPhotoLenderById" parameterType="Long">
        delete from zyjr_photo_lender where id = #{id}
    </delete>

    <delete id="deleteZyjrPhotoLenderByIds" parameterType="String">
        delete from zyjr_photo_lender where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>