<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrCarParentMapper">
    
    <resultMap type="ZyjrCarParent" id="ZyjrCarParentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="lilv"    column="lilv"    />
    </resultMap>

    <sql id="selectZyjrCarParentVo">
        select id, name, lilv from zyjr_car_parent
    </sql>

    <select id="selectZyjrCarParentList" parameterType="ZyjrCarParent" resultMap="ZyjrCarParentResult">
        <include refid="selectZyjrCarParentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="lilv != null  and lilv != ''"> and lilv = #{lilv}</if>
        </where>
    </select>
    
    <select id="selectZyjrCarParentById" parameterType="Long" resultMap="ZyjrCarParentResult">
        <include refid="selectZyjrCarParentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertZyjrCarParent" parameterType="ZyjrCarParent" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_car_parent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="lilv != null">lilv,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="lilv != null">#{lilv},</if>
         </trim>
    </insert>

    <update id="updateZyjrCarParent" parameterType="ZyjrCarParent">
        update zyjr_car_parent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="lilv != null">lilv = #{lilv},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrCarParentById" parameterType="Long">
        delete from zyjr_car_parent where id = #{id}
    </delete>

    <delete id="deleteZyjrCarParentByIds" parameterType="String">
        delete from zyjr_car_parent where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>