<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrCaiwuMapper">
    
    <resultMap type="ZyjrCaiwu" id="ZyjrCaiwuResult">
        <result property="id"    column="id"    />
        <result property="mode"    column="mode"    />
        <result property="zhanghu"    column="zhanghu"    />
        <result property="money"    column="money"    />
        <result property="remark"    column="remark"    />
        <result property="time"    column="time"    />
        <result property="transactionCode"    column="transaction_code"    />

    </resultMap>

    <sql id="selectZyjrCaiwuVo">
        select id, mode, zhanghu, money, remark, time, transaction_code from zyjr_caiwu
    </sql>

    <select id="selectZyjrCaiwuList" parameterType="ZyjrCaiwu" resultMap="ZyjrCaiwuResult">
        <include refid="selectZyjrCaiwuVo"/>
        <where>  
            <if test="mode != null  and mode != ''"> and mode = #{mode}</if>
            <if test="zhanghu != null  and zhanghu != ''"> and zhanghu = #{zhanghu}</if>
            <if test="money != null  and money != ''"> and money = #{money}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="transactionCode != null  and transactionCode != ''"> and transaction_code = #{transactionCode}</if>

        </where>
    </select>
    
    <select id="selectZyjrCaiwuById" parameterType="Long" resultMap="ZyjrCaiwuResult">
        <include refid="selectZyjrCaiwuVo"/>
        where id = #{id}
    </select>
    <select id="selectZyjrCaiwuByT" parameterType="String" resultMap="ZyjrCaiwuResult">
        <include refid="selectZyjrCaiwuVo"/>
        where transaction_code = #{transactionCode}
    </select>
        
    <insert id="insertZyjrCaiwu" parameterType="ZyjrCaiwu" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_caiwu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mode != null">mode,</if>
            <if test="zhanghu != null">zhanghu,</if>
            <if test="money != null">money,</if>
            <if test="remark != null">remark,</if>
            <if test="time != null">time,</if>
            <if test="transactionCode != null">transaction_code,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mode != null">#{mode},</if>
            <if test="zhanghu != null">#{zhanghu},</if>
            <if test="money != null">#{money},</if>
            <if test="remark != null">#{remark},</if>
            <if test="time != null">#{time},</if>
            <if test="transactionCode != null">#{transactionCode},</if>

         </trim>
    </insert>

    <update id="updateZyjrCaiwu" parameterType="ZyjrCaiwu">
        update zyjr_caiwu
        <trim prefix="SET" suffixOverrides=",">
            <if test="mode != null">mode = #{mode},</if>
            <if test="zhanghu != null">zhanghu = #{zhanghu},</if>
            <if test="money != null">money = #{money},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="time != null">time = #{time},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrCaiwuById" parameterType="Long">
        delete from zyjr_caiwu where id = #{id}
    </delete>

    <delete id="deleteZyjrCaiwuByIds" parameterType="String">
        delete from zyjr_caiwu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>