<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeethink.system.mapper.ZyjrBusinessMapper">
    
    <resultMap type="ZyjrBusiness" id="ZyjrBusinessResult">
        <result property="id"    column="id"    />
        <result property="team"    column="team"    />
        <result property="carInformation"    column="car_information"    />
        <result property="intentionPrice"    column="intention_price"    />
        <result property="loanMoney"    column="loan_money"    />
        <result property="repayPeriod"    column="repay_period"    />
        <result property="carType"    column="car_type"    />
        <result property="userId"    column="user_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="orderState"    column="order_state"    />
         <result property="name"    column="user_name"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="operator"    column="operator"    />
        <result property="falseOperator"    column="false_operator"    />
        <result property="falseOperatorId"    column="false_operator_id"    />
        <result property="realAddress"    column="real_address"    />
    </resultMap>

    <sql id="selectZyjrBusinessVo">
        select a.id, a.team, a.car_information,a.false_operator,a.false_operator_id,a.update_by, a.intention_price, a.loan_money, a.repay_period,a. car_type,a. user_id, a.order_state,a.transaction_code,b.real_address from zyjr_business a
        left join zyjr_start_page b on a.transaction_code=b.transaction_code
    </sql>

    <select id="selectZyjrBusinessList" parameterType="ZyjrBusiness" resultMap="ZyjrBusinessResult">
         select a.id, a.team,a.operator,a.update_by,c.create_time,c.credit_state,a.false_operator,a.false_operator_id, a.car_information, a.intention_price, a.loan_money, a.repay_period, a.car_type, a.user_id, a.order_state,a.transaction_code,b.user_name
         from zyjr_business a
         left join zyjr_borrower b on a.transaction_code=b.transaction_code
         left join zyjr_start_page c on a.transaction_code=c.transaction_code
         left join zyjr_details d on a.transaction_code=d.transaction_code
        <where>
            a.order_state = 1
            <if test="team != null  and team != ''"> and a.team like concat('%', #{team}, '%') </if>
            <if test="carInformation != null "> and a.car_information like concat('%', #{carInformation}, '%') </if>
            <if test="intentionPrice != null "> and a.intention_price like concat('%', #{intentionPrice}, '%') </if>
            <if test="loanMoney != null "> and a.loan_money like concat('%', #{loanMoney}, '%') </if>
            <if test="repayPeriod != null "> and a.repay_period like concat('%', #{repayPeriod}, '%') </if>
            <if test="carType != null "> and a.car_type like concat('%', #{carType}, '%') </if>
            <if test="userId != null  and userId != ''"> and a.userId = #{userId}</if>
            <if test="falseOperator != null "> and a.false_operator like concat('%', #{falseOperator}, '%') </if>
            <if test="falseOperatorId != null "> and a.false_operator_id = #{falseOperatorId}</if>
            <if test="transactionCode != null "> and a.transaction_code like concat('%', #{transactionCode}, '%') </if>
            <if test="name != null "> and b.user_name like concat('%', #{name}, '%')</if>
            <if test="updateBy ==1 "> and c.credit_state = 1 and d.details is not null  </if>
            <if test="updateBy ==2 "> and c.credit_state = 2  </if>
            <if test="updateBy ==3 "> and c.credit_state = 1 and d.details is null  </if>
              order by a.create_time desc
        </where>
    </select>
    <select id="selectZyjrBusinessjujueList" parameterType="ZyjrBusiness" resultMap="ZyjrBusinessResult">
         select a.id, a.team,a.operator,a.update_by,c.create_time,c.credit_state,a.false_operator,a.false_operator_id, a.car_information, a.intention_price, a.loan_money, a.repay_period, a.car_type, a.user_id, a.order_state,a.transaction_code,b.user_name
         from zyjr_business a
         left join zyjr_borrower b on a.transaction_code=b.transaction_code
         left join zyjr_start_page c on a.transaction_code=c.transaction_code
        <where>
            a.order_state = 1 and b.mianqian is null
            <if test="team != null  and team != ''"> and a.team like concat('%', #{team}, '%') </if>
            <if test="carInformation != null "> and a.car_information like concat('%', #{carInformation}, '%') </if>
            <if test="intentionPrice != null "> and a.intention_price like concat('%', #{intentionPrice}, '%') </if>
            <if test="loanMoney != null "> and a.loan_money like concat('%', #{loanMoney}, '%') </if>
            <if test="repayPeriod != null "> and a.repay_period like concat('%', #{repayPeriod}, '%') </if>
            <if test="carType != null "> and a.car_type like concat('%', #{carType}, '%') </if>
            <if test="userId != null  and userId != ''"> and a.userId = #{userId}</if>
            <if test="falseOperator != null "> and a.false_operator like concat('%', #{falseOperator}, '%') </if>
            <if test="falseOperatorId != null "> and a.false_operator_id = #{falseOperatorId}</if>
            <if test="transactionCode != null "> and a.transaction_code like concat('%', #{transactionCode}, '%') </if>
            <if test="name != null "> and b.user_name like concat('%', #{name}, '%')</if>
              order by a.create_time desc
        </where>
    </select>
    <select id="selectZyjrBusinesstongguoList" parameterType="ZyjrBusiness" resultMap="ZyjrBusinessResult">
         select a.id, a.team,a.operator,a.update_by,c.create_time,c.credit_state,a.false_operator,a.false_operator_id, a.car_information, a.intention_price, a.loan_money, a.repay_period, a.car_type, a.user_id, a.order_state,a.transaction_code,b.user_name
         from zyjr_business a
         left join zyjr_borrower b on a.transaction_code=b.transaction_code
         left join zyjr_start_page c on a.transaction_code=c.transaction_code
        left join zyjr_details d on a.transaction_code=d.transaction_code
        <where>
            a.order_state = 1 and c.credit_state = 1 and d.details is null
            <if test="team != null  and team != ''"> and a.team like concat('%', #{team}, '%') </if>
            <if test="carInformation != null "> and a.car_information like concat('%', #{carInformation}, '%') </if>
            <if test="intentionPrice != null "> and a.intention_price like concat('%', #{intentionPrice}, '%') </if>
            <if test="loanMoney != null "> and a.loan_money like concat('%', #{loanMoney}, '%') </if>
            <if test="repayPeriod != null "> and a.repay_period like concat('%', #{repayPeriod}, '%') </if>
            <if test="carType != null "> and a.car_type like concat('%', #{carType}, '%') </if>
            <if test="userId != null  and userId != ''"> and a.userId = #{userId}</if>
            <if test="falseOperator != null "> and a.false_operator like concat('%', #{falseOperator}, '%') </if>
            <if test="falseOperatorId != null "> and a.false_operator_id = #{falseOperatorId}</if>
            <if test="transactionCode != null "> and a.transaction_code like concat('%', #{transactionCode}, '%') </if>
            <if test="name != null "> and b.user_name like concat('%', #{name}, '%')</if>
              order by a.create_time desc
        </where>
    </select>

    <select id="selectZyjrBusinessById" parameterType="Long" resultMap="ZyjrBusinessResult">
        select * from zyjr_business
        where id = #{id}
    </select>
    
    <select id="selectById" parameterType="String" resultMap="ZyjrBusinessResult">
        <include refid="selectZyjrBusinessVo"/>
        where a.transaction_code = #{identityId}
    </select>
        
    <insert id="insertZyjrBusiness" parameterType="ZyjrBusiness" useGeneratedKeys="true" keyProperty="id">
        insert into zyjr_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="team != null">team,</if>
            <if test="carInformation != null">car_information,</if>
            <if test="intentionPrice != null">intention_price,</if>
            <if test="loanMoney != null">loan_money,</if>
            <if test="repayPeriod != null">repay_period,</if>
            <if test="carType != null">car_type,</if>
            <if test="orderState != null">order_state,</if>
            <if test="falseOperator != null">false_operator,</if>
            <if test="falseOperatorId != null">false_operator_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="team != null">#{team},</if>
            <if test="carInformation != null">#{carInformation},</if>
            <if test="intentionPrice != null">#{intentionPrice},</if>
            <if test="loanMoney != null">#{loanMoney},</if>
            <if test="repayPeriod != null">#{repayPeriod},</if>
            <if test="carType != null">#{carType},</if>
            <if test="falseOperator != null">#{falseOperator},</if>
            <if test="falseOperatorId != null">#{falseOperatorId},</if>

            <if test="orderState != null">#{orderState},</if>
         </trim>
    </insert>

    <update id="updateById">
update zyjr_business set update_by="",operator="" where id = #{id}
    </update>
    <update id="updateByIds">
update zyjr_business set false_operator=#{falseOperator},false_operator_id=#{falseOperatorId} where id = #{id}
    </update>
    <update id="updateZyjrBusiness" parameterType="ZyjrBusiness">
        update zyjr_business
        <trim prefix="SET" suffixOverrides=",">
            <if test="team != null">team = #{team},</if>
            <if test="carInformation != null">car_information = #{carInformation},</if>
            <if test="intentionPrice != null">intention_price = #{intentionPrice},</if>
            <if test="loanMoney != null">loan_money = #{loanMoney},</if>
            <if test="repayPeriod != null">repay_period = #{repayPeriod},</if>
            <if test="carType != null">car_type = #{carType},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="falseOperator != null">false_operator = #{falseOperator},</if>
            <if test="falseOperatorId != null">false_operator_id = #{falseOperatorId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZyjrBusinessById" parameterType="Long">
        delete from zyjr_business where id = #{id}
    </delete>

    <delete id="deleteZyjrBusinessByIds" parameterType="String">
        delete from zyjr_business where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>